<p id="notice"><%= notice %></p>

<h1>Mws Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mws_orders.each do |mws_order| %>
      <tr>
        <td><%= link_to 'Show', mws_order %></td>
        <td><%= link_to 'Edit', edit_mws_order_path(mws_order) %></td>
        <td><%= link_to 'Destroy', mws_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mws Order', new_mws_order_path %>
