<style type="text/css">
  .btn-primary.active {
    background-color: #5555e7 !important;
  }
</style>
<p id="notice"><%= notice %></p>

<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary  btn-lg filter-status">
                        <input id="option8" name="options" type="radio" value="All">
                        ALL <%= @po_option.per_status("All").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg filter-status active">
                        <input id="option0" name="options" type="radio" value="">
                        No Status <%= @po_option.per_status("").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option1" name="options" type="radio" value="Sent">
                        Sent <%= @po_option.per_status("Sent").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option2" name="options" type="radio" value="Confirmed">
                        Confirmed <%= @po_option.per_status("Confirmed").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option3" name="options" type="radio" value="Payment">
                        Payment <%= @po_option.per_status("Payment").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option4" name="options" type="radio" value="Inbound">
                        Inbound <%= @po_option.per_status("Inbound").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option5" name="options" type="radio" value="Invoice">
                        Invoice <%= @po_option.per_status("Invoice").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option6" name="options" type="radio" value="Rep Payout">
                        Rep Payout <%= @po_option.per_status("Rep Payout").count %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option7" name="options" type="radio" value="Completed">
                        Completed <%= @po_option.per_status("Completed").count %>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_pending_po_summary" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th>PO</th>
                      <th>Created</th>
                      <th>Customer</th>
                      <th >Vendor</th>
                      <th >SUPPLIER</th>
                      <th>Status</th>
                      <th >ORDERS Qty</th>
                      <th >CONFIRMED Qty</th>
                      <th>Received Qty</th>
                      <th>Total Shipped Qty</th>
                      <th>Missing Qty</th>
                      <th>ORDERS E.Cost</th>
                      <th >CONFIRMED E.Cost</th>
                     </tr>
                     <tr id="filterrow" class="datatable_filter_header">
                      <th>PO</th>
                      <th>Created</th>
                      <th>Customer</th>
                      <th >Vendor</th>
                      <th >SUPPLIER</th>
                      <th>Status</th>
                      <th >ORDERS Qty</th>
                      <th >CONFIRMED Qty</th>
                      <th>Received Qty</th>
                      <th>Total Shipped Qty</th>
                      <th>Missing Qty</th>
                      <th>ORDERS E.Cost</th>
                      <th >CONFIRMED E.Cost</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/useroption" %>
<%= javascript_tag do %>
  
<% end %>
<% content_for :page_scripts do %>
  <% @pending_po_index_status.each do |s| %>
    <script>
    select_option_status_list.push({
      value: "<%= s["value"] %>",
      label: "<%= s["value"] %>",
    });
    </script>
  <% end %>
  <% if current_user.is_warehouse %>
    <script>
      status_class = "number_cell editable";
    </script>
  <% end %>
  <script>
    $(document).ready(function(){
      initPendigPoEditor();
      loadpendingpo_summary_table();
    });
  </script>
<% end %>

