<!DOCTYPE html>
<html>
<body>
	<p>Thanks - your account's ready to go!</p>
	<p>Our goal with FBA.support is to eliminate tedious tasks that take up long hours. We have perfected the model for reselling wholesale on Amazon USA. Dig in and explore!
	<br/>
	If you ever need a hand, a vendor, or even some tips on how to start sales with FBA.support please contact me directly at <a href="mailto:>steven@fba.support" target="_blank"><span style="color:blue">steven@fba.support</span></a>
	</p>
	Thanks again and all the best,
	<br>
	Steven
	 <%= render partial: "user_mailer/partials/footer" %>
</body>
</html>