<!DOCTYPE html>
<html>
<body>
	<p>Hi</p>
	<p>I hope all is well. How are you liking the trial so far?</p>
	<p>
	Feel free to utilize us as a resource. We can answer any questions you have, offer best practices, as well as give you a live demo. Need more Vendors? How about prep services? We can help you during any step your at now. 
	</p>
	<p>Click <a href="https://calendly.com/fba-steve"><span style="color:blue">here if you would like to have a quick 10-15 minute call to answer any questions </span></a>you have around FBA.Support?</p>
	<p>
	Let us know what works for you. 
	Thanks!
	</p>
	 <%= render partial: "user_mailer/partials/footer" %>
</body>
</html>
