<!DOCTYPE html>
<html>
<body>
	<p>Great Work,</p>
	<p>Your file is proceeded as <%= @status %>.</p>
	<p>
		Please  <a href="<%= @url %>">download the file</a>.
	</p>
	<br>
	Thanks.
	<br>
	FBA.Support Team	
</body>
</html>

 
 


