<style>
 
  .border_td{
    border-bottom:1px solid #E0E0E0;
  }
 /* table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}*/
    thead { display: table-header-group; } tfoot { display: table-row-group; } tr { page-break-inside: avoid; }
</style>
<div class="" >
    <div style="text-align:center">
        <h1><strong>INVOICE#: <%= @invoice.invoice_name %></strong></h1>
        <h1><strong>INVOICE DATE: <%= @invoice.created_at.strftime("%B %d, %Y") %></b></h1>
    </div>
</div>
<div class="payment-info" >
    <h3><strong>Total Received </strong><%= number_to_currency(@invoice.received_cost) %></h3>
    <h3><strong>Total Paid </strong><%= number_to_currency(@invoice.invoiced_cost) %></h3>
    <% @users.each do |user| %>
        <h2><%= user.full_name %></h2>
        <h3>PO# <%= @invoice&.pending_po_list(user.id) %></h3>
        <div class="invoice_information">
            <table class="table">
                <tr>
                    <td>Term</td>
                    <td><%= @invoice.ship_term %></td>
                </tr>
                <tr>
                    <td>SKU count</td>
                    <td><%= @invoice.sku_count(user.id) %></td>
                </tr>
                <tr>
                    <td>Received Qty</td>
                    <td><%= @invoice.received_qty(user.id) %></td>
                </tr>
                <tr>
                    <td>Received Cost</td>
                    <td><%= number_to_currency(@invoice.received_cost(user.id)) %></td>
                </tr>
                <tr>
                    <td>Total Qty</td>
                    <td><%= @invoice.confirmed_qty(user.id) %></td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td><%= number_to_currency(@invoice.confirmed_cost(user.id)) %></td>
                </tr>
                <tr>
                    <td>Paid Qty</td>
                    <td><%= @invoice.invoiced_qty(user.id) %></td>
                </tr>
                <tr>
                    <td>Paid Cost</td>
                    <td><%= number_to_currency(@invoice.invoiced_cost(user.id)) %></td>
                </tr>
                <tr>
                    <td>Profit</td>
                    <td><%= number_to_currency(@invoice.received_cost(user.id) - @invoice.invoiced_cost(user.id)) %></td>
                </tr>
                <tr>
                    <td>Shipping Cost</td>
                    <td><%= @invoice.shipping_cost %></td>
                </tr>
                <tr>
                    <td>Adjustment</td>
                    <td><%= @invoice.adjustment_cost %></td>
                </tr>
            </table>
        </div>
        <br>
        <div class="invoice_items">
            <table class="table">
                <thead>
                    <th>VendorSKU</th>
                    <th>Cost</th>
                    <th>Received Qty</th>
                    <th>Received Total</th>
                    <th>Paid Cost</th>
                    <th>Paid Qty</th>
                    <th>Paid Total</th>
                    <th>Profit</th>
                </thead>
                <tbody>
                    <% @invoice&.pending_po_with_user(user.id).each do |pp| %>
                        <% pp.invoice_items.each do |item| %>
                            <tr>
                                <td>
                                    <%= pp&.vendoritem&.vendorsku %>
                                </td>
                                <td>
                                    <%= pp&.cost %>
                                </td>
                                <td>
                                    <%= pp&.received_quantity %>
                                </td>
                                <td>
                                    <%= number_to_currency(pp&.received_cost) %>
                                </td>
                                <td>
                                    <%= item&.cost %>
                                </td>
                                <td>
                                    <%= item&.quantity %>
                                </td>
                                <td>
                                    <%= number_to_currency(item&.invoice_cost) %>
                                </td>
                                <td>
                                    <%= number_to_currency(pp&.cost * item&.quantity - item&.invoice_cost) %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
        <br>
        <br>
    <% end %>
</div>



