<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_warehouse_invoice" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th >Invoice#</th>
                      <th>Created</th>
                      <th >PO #</th>
                      <th>Term</th>
                      <th >Vendor</th>
                      <th>Customer</th>
                      <th>Items</th>
                      <th >Confirmed Qty</th>
                      <th >Confirmed Cost</th>
                      <th>Invoice Qty</th>
                      <th>Invoice Cost</th>
                      <th >Shipping</th>
                      <th >Adjustment</th>
                      <th style="min-width:100px;">Reason</th>
                     </tr>
                     <tr id="filterrow">
                      <th >Invoice#</th>
                      <th>Created</th>
                      <th >PO #</th>
                      <th>Term</th>
                      <th >Vendor</th>
                      <th>Customer</th>
                      <th>Items</th>
                      <th >Confirmed Qty</th>
                      <th >Confirmed Cost</th>
                      <th>Invoice Qty</th>
                      <th>Invoice Cost</th>
                       <th >Shipping</th>
                      <th >Adjustment</th>
                      <th style="min-width:100px;">Reason</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/useroption" %>
<% content_for :page_scripts do %>
  <script>
    $(document).ready(function(){
      load_warehouse_invoice();
    });
  </script>
<% end %>
