<%= form_for(ship_cus_invoice) do |f| %>
  <% if ship_cus_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ship_cus_invoice.errors.count, "error") %> prohibited this ship_cus_invoice from being saved:</h2>

      <ul>
      <% ship_cus_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
