<p id="notice"><%= notice %></p>

<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_ship_customer_invoice" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th>Invoice</th>
                      <th>Created</th>
                      <th>User</th>
                      <th>Shipment ID</th>
                      <th>Shipment Name</th>
                      <th>Paid Date</th>
                      <th>Product</th>
                      <th>Cost</th>
                      <th >Qty</th>
                     </tr>
                     <tr id="filterrow" class="datatable_filter_header">
                      <th>Invoice</th>
                      <th>Created</th>
                      <th>User</th>
                      <th>Shipment ID</th>
                      <th>Shipment Name</th>
                      <th>Paid Date</th>
                      <th>Product</th>
                      <th>Cost</th>
                      <th >Qty</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/useroption" %>
<% content_for :page_scripts do %>
  <script>
    $(document).ready(function(){
      load_invoice_table();
    });
  </script>
<% end %>