<div class="text-center" >
  <div class="fnsku"">
    <strong style="font-size: 20px;">Box Contents</strong>  
  </div>
  <div class="fnsku">
    Units: <%= @quantity %>
  </div>
  <% if @customer_name.present? %>
  <div class="labeling">
    <%= @customer_name %>
  </div>
  <% end %>
</div>

<div class="barcode" >
  <img src="https://barcode.tec-it.com/barcode.ashx?data=<%= @label_data %>&code=PDF417&dpi=96&dataseparator=">
</div>
<div class="fnsku">
  <% @asin_info.each do |asin_info| %>
  <div style="margin: 5px 5px 5px 5px;">
    <div style="width: 50%; float: left; text-align: left; font-size: 10px;">
      <%= asin_info[:asin] %>: <%= asin_info[:quantity] %>
    </div>
  </div>
  <% end %>
</div>