<div class="modal fade" id="2dBarcodePopUp" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="width: 110%;">
            <%= form_for :outbound_shipment, url: print_mix_2d_barcode_outbound_shipments_path, id: "2DLabelsForm" do |f| %>
              <div class="modal-header">
                <%= f.button "Get Labels", class: "btn btn-sm btn-success pull-right mix2DLabelFormSubmit", formtarget: "_blank" %>
              </div>
              <div class="modal-body" style="padding: 20px;">
                  <div class="row">
                        <table id="2dBarcodeTable"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                            <thead>
                                <tr>
                                    <th>Shipment ID</th>
                                    <th>ASIN</th>
                                    <th>Quantity</th>
                                    <th>Quantity to be boxed</th>
                                </tr>
                            </thead>
                        </table>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</div>
