<%= form_for(outbound_shipment) do |f| %>
  <% if outbound_shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outbound_shipment.errors.count, "error") %> prohibited this outbound_shipment from being saved:</h2>

      <ul>
      <% outbound_shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
