<div class="modal fade" id="dlg_list_updatable_shipment" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 20px;">
                <div class="row">
                    <table id="table_updatable_shipment"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Shipment</th>
                                <th>Destination</th>
                                <th>SKU Count</th>
                                <th>Add</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="dlg_updatableShipment" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                  <h3>Select the Shipplan</h3>

                  <SELECT id="sel_split_shipplan" class="form-control chosen-select input-md"></SELECT>
                  <span id="txtPlanDestinationId" style="color: blue"> </span>
                </div>
                <div>
                  <h3>Choose the target Shipment</h3>
                  <SELECT id="sel_shipmentlist" class="form-control chosen-select input-md" style="width:180px;display:inline;">
                  </SELECT>
                  <span id="txtShipmentname"> </span>
                  <span id="txtDestinationId" style="color: blue"> </span>
                  <select id="sel_allshipment" class="form-control chosen-select input-md" style="float: right;width:180px;display:inline;">
                  </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn_create_shipment" data-dismiss="modal" class="btn btn-success " style="float: left">Create Shipment</button>
                <button type="button" id="btn_update" data-dismiss="modal" class="btn btn-primary ">Add</button>
                <button type="button" id="btn_refresh_shipment" class="btn btn-success ">Refresh</button>
                <button type="button" id="btn_recreate_shipplan" class="btn btn-success ">Recreate Shipplan</button>
                <button type="button"  data-dismiss="modal" class="btn btn-standard">Close</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dlg_adjust_qty" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div style="text-align: center;">
                  New Qty
                  <input type="number" name="txt_new_qty" id="txt_new_qty" placeholder="New Qty">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-standard">Close</button>
                <button type="button" id="btn_inbound_create" data-dismiss="modal" class="btn btn-primary ">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dlg_shipplan_list" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 20px;">
                <div class="row">
                    <table id="table_shipplan"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Shipplan</th>
                                <th>Destination</th>
                                <th>SKU Count</th>
                                <th>Total Qty</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="dlg_shipment_list" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width:650px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 20px;">
                <div class="row">
                    <table id="table_shipment"  cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Shipment</th>
                                <th>Destination</th>
                                <th>SKU Count</th>
                                <th>Total Qty</th>
                                <th>Transport Plan</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
