<div class="modal fade" id="dlg_shipment_address" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Warehouse Address</h3>
            </div>
            <div class="modal-body">
                <form id="frm_warehouse_address">
                    <input type="hidden" id="warehouse_value" name="warehouse_value">
                    <div class="form-group has-feedback">
                        <label for="address_line1">Warehouse Name</label>
                        <input class="form-control" autofocus="autofocus" name="warehouse_name" id="warehouse_name" type="text" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="address_line1">Address Line 1</label>
                        <input class="form-control" name="warehouse_address_line1" id="warehouse_address_line1" type="text" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="warehouse_address_line2">Address Line 2</label>
                        <input class="form-control" name="warehouse_address_line2" id="warehouse_address_line2" type="text">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="warehouse_city">City</label>
                        <input class="form-control" name="warehouse_city" id="warehouse_city" type="text" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="warehouse_state_or_province_code">State Or Province Code</label>
                        <input class="form-control" name="warehouse_state_or_province_code" id="warehouse_state_or_province_code" type="text" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="warehouse_postal_code">Postal Code</label>
                        <input class="form-control" name="warehouse_postal_code" id="warehouse_postal_code" type="text" required>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="warehouse_country_code">Country Code</label>
                        <input class="form-control" name="warehouse_country_code" id="warehouse_country_code" type="text" required>
                    </div>
                    <div class="actions">
                        <input name="submit" value="Update" class="btn btn-lg btn-primary"  type="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-lg ">Close</button>
            </div>
        </div>
    </div>
</div>