<div class="modal fade" id="dlg_image" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" style="min-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div style="text-align: center;">
                  <a href="javascript:openasin()" style="color:blue;text-decoration: underline;"><h1  id="product_name"></h1></a>  
                </div>

                <div>
                  <a href="javascript:openasin()"><img id='img_product' src=""></a>
                </div>
                
                <div>
                  <h2 id="product_prep">Prepinstruction</h2>  
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-primary ">Close</button>
            </div>
        </div>
    </div>
</div>