<div class = "content_page alwaysbreak" >
    <div style='text-align:center;font-size:16px;'>
        Thank you for shopping with FBA.Support
    </div>
    <div class="barcode" >
        <img src="<%= barcode_url %>" />
    </div>
    <div style="text-align:center;font-size:8px;">
        <%= stage.pending_po.vendoritem.vendorasin.name %>
        <br>
        Pack of <%= stage.pending_po.vendoritem.packcount %>
    </div>
    <div style="text-align:center;font-size:12px;">
        <% if stage.pending_po.vendoritem.seller_sku.snl %>
            SNL, 
        <% end %>
        <%= stage.pending_po.vendoritem.seller_sku.fnsku %>, 
        NEW
        <% unless stage.expired_date.blank? %>
           , EXP. <%= stage.expired_date %>,
        <% end %>
    </div>
</div>

<% (1..stage.received_quantity).each do |i| %>
    <div class = "content_page alwaysbreak" >
        <div style='text-align:center;font-size:16px;'>
            Thank you for shopping with FBA.Support
        </div>
        <div class="barcode" >
            <img src="<%= barcode_url %>" />
        </div>
        <div style="text-align:center;font-size:12px;">
            <%= stage.pending_po.vendoritem.seller_sku.fnsku %>, 
            Pack of <%= stage.pending_po.vendoritem.packcount %>,
            NEW
            <% unless stage.expired_date.blank? %>
            , EXP. <%= stage.expired_date %>,
            <% end %>
        </div>
        <div style="text-align:center;font-size:8px;">
            <%= stage.pending_po.vendoritem.vendorasin.name %>
        </div>
        
    </div>
<% end %>