<% content_for :page_scripts do %>
    <script>
        var datatable_bagger_list;
        $(document).ready(function(){
            $.fn.dataTable.ext.errMode = 'none';
            datatable_bagger_list = load_bagger_list();
        });
    </script>
<% end %>
<div id="content">
    <div class="content-inner">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row pv-lg">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div style="height: 300px; text-align: center;">
                            <img id="img_product" src="" style="height: 100%;">
                        </div>
                        <div class="row" style="text-align:center">
                            <div class="col-md-6">
                                <h1 class="inset-text-small">Single Unit</h1>
                                <div style="display: table;width:100%;">
                                    <div id="div_single_unit" class="inset-text-large" style="display: table-cell; vertical-align: middle;font-size:50px;">
                                    </div>  
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h1 class="inset-text-small">Finished Pack</h1>
                                <div style="display: table;width:100%;">
                                    <div id="div_box_qty" class="inset-text-large" style="display: table-cell; vertical-align: middle;font-size:50px">
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12" style="text-align:center;">
                        <div style="min-height: 250px; ">
                            <h1 id="div_itemname" class="inset-text-small"></h1>
                            <button id="btn_send_bagger_print" class="btn btn-lg btn-primary" style="display:none">Send To Print</button>
                            <h1 id="div_bag_no" class="inset-text-large"></h1>
                            <h1 id="div_prep"> </h1>
                            <h1 id="div_pack"></h1>
                            <h1 id="div_snl"></h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12">
                        <div class="table-responsive">
                            <table id="datatable_autobagger_list" style="min-width:200px; max-width: 350px;" class="display " style="width: 100%">
                                <thead>
                                    <tr>
                                    <th ></th>
                                    <th >BAG#</th>
                                    <th >NAME</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    
                                </tfoot>
                            </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end content inner -->
</div><!-- end content -->
