<% content_for :page_scripts do %>
  <script>
    var po_list;
    var po_all;
    $(document).ready(function(){
        $.fn.dataTable.ext.errMode = 'none';
        $("#txt_expired_date").datepicker({
          format: 'yyyy-mm-dd'
        });
        load_outbound_stage("none_xxx");
        load_outbound_vendor("none_xxx","none_xxx");
    });
    $('.vendor_search').keyup(function (e) {

      if((e.which <= 90 && e.which >= 48 ) || e.which == 8){
        var vendor = $('#txt_search_vendor').val();
        var name = $('#txt_search_product').val();
        if (vendor.length > 1 && name.length > 2) {
          load_outbound_vendor(vendor, name);
        }
      }

    });

    // $('#txt_search_upc').keyup(function (e) {
    //   if((e.which <= 90 && e.which >= 48 ) || e.which == 8){
    //     var upc = $('#txt_search_upc').val();
    //     if (upc.length > 1) {
    //       load_outbound_stage(upc);
    //     }
    //   }

    // });
    $('#txt_search_upc').keyup(delay(function (e) {
        // if((e.which <= 90 && e.which >= 48 ) || e.which == 8){
        var upc = $('#txt_search_upc').val();
        if (upc.length > 1) {
          load_outbound_stage(upc);
        }
      // }
    }, 500));

    $('#btn_outbound_recreate_sku').click(function(){
      var sData = po_list.rows( { selected: true } ).data();
      if (sData[0].datatype != "pending_po_item"){
        alert("Action is not allowed");
        return;
      }

      id = sData[0].pending_po.id;
      $.ajax({
        url: "/pending_pos/check_sku?pending_po_id="+id,
        type: "GET",
        // type: "POST",
        // data:{pending_po_id: id},
        dataType: "json",
        beforeSend: function(){
          $("body").addClass("loading");
          $("#loading").dialog('open').html();
        },
        success: function(data) {
          $('#loading').dialog('close');
          $("body").removeClass("loading");

          if(data.status){
            // alert('Sku successfully created');
            // po_list.ajax.reload();
            // recreate_sku(id);
          }else{
            $.ajax({
              url: "/pending_pos/remove_sku?pending_po_id="+id,
              type: "GET",
              dataType: "json",
              beforeSend: function(){
                $("body").addClass("loading");
                $("#loading").dialog('open').html();
              },
              success: function(data) {
                $('#loading').dialog('close');
                $("body").removeClass("loading");
                if(data.status){
                  recreate_sku(id);
                }else{
                  alert(data.error_message);
                }

              },
              error: function(jqXHR){
                $('#loading').dialog('close');
                $("body").removeClass("loading");
                alert("Operation is failed.");
              }
            });
          }
        },
        error: function(jqXHR){
          $('#loading').dialog('close');
          $("body").removeClass("loading");
          alert("Operation is failed.");
        }
      });
    });

    function recreate_sku(id){
      $.ajax({
        url: "/pending_pos/recreate_sku?pending_po_id="+id,
        type: "GET",
        dataType: "json",
        beforeSend: function(){
          $("body").addClass("loading");
          $("#loading").dialog('open').html();
        },
        success: function(data) {
          $('#loading').dialog('close');
          $("body").removeClass("loading");
          if(data.status){
            alert('Sku successfully created');
            po_list.ajax.reload();
          }else{
            alert(data.error_message);
          }
        },
        error: function(jqXHR){
          $('#loading').dialog('close');
          $("body").removeClass("loading");
          alert("Operation is failed.");
        }
      });
    }

    $('#btn_outbound_receive').click(function(){
      var box_qty = $("#txt_box_qty").val();
      var case_qty = $("#txt_case_qty").val();
      var exp_date = $("#txt_expired_date").val();
      var sData = po_list.rows( { selected: true } ).data();
      var id;
      if(sData.length == 0){
        return;
      }
      if (sData[0].datatype != "pending_po_item"){
        alert("Action is not allowed");
        return;
      }
      if(isNaN(box_qty) || isNaN(case_qty)){
        alert('Input valid Qty');
        return;
      }
      id = sData[0].pending_po.id;
      $.ajax({
        url: "/pending_pos/receive",
        type: "POST",
        data:{box_qty: box_qty, case_qty: case_qty, exp_date: exp_date, pending_po_id: id},
        dataType: "json",
        success: function(data) {
          if(data.status){
            alert('Item successfully received');
            po_list.ajax.reload();
          }else{
            alert(data.msg);
          }
        }
      });
    });

    $('#btn_outbound_check_shipplan').click(function(){

      var sData = po_list.rows( { selected: true } ).data();
      var id;
      if(sData.length == 0){
        return;
      }
      if (sData[0].datatype != "pending_po_item"){
        alert("Action is not allowed");
        return;
      }
      id = sData[0].pending_po.id;
      $.ajax({
        url: "/outbound_shipments/check_shipplan",
        type: "POST",
        data:{pending_po_id: id},
        dataType: "json",
        success: function(data) {
          if(data.status){
            po_list.ajax.reload();
          }else{
            alert(data.msg);
          }
        }
      });
    });

    $('#btn_outbound_complete_item').click(function(){

      var sData = po_list.rows( { selected: true } ).data();
      var id;
      if(sData.length == 0){
        return;
      }
      if (sData[0].datatype != "pending_po_item"){
        alert("Action is not allowed");
        return;
      }
      id = sData[0].pending_po.id;
      $.ajax({
        url: "/pending_pos/complete",
        type: "POST",
        data:{id: id},
        dataType: "json",
        success: function(data) {
          if(data.status){
            //po_list.ajax.reload();
          }else{
            alert(data.msg);
          }
        }
      });
    });
    $('#btn_outbound_send_bagger').click(function(){

      var sData = po_list.rows( { selected: true } ).data();
      var id;
      if(sData.length == 0){
        return;
      }

      if (sData[0].datatype != "stage_item"){
        alert("Action is not allowed");
        return;
      }
      id = sData[0].id;
      $.ajax({
        url: "/outbound_shipments/send_bagger",
        type: "POST",
        data:{id: id},
        dataType: "json",
        success: function(data) {
          if(data.status){
            alert("Item successfully sent to Bagger");
            po_list.ajax.reload();
          }else{
            alert(data.msg);
          }
        }
      });
    });

    $('#btn_outbound_sticker').click(function(){
      var box_qty = $("#txt_box_qty").val();
      var case_qty = $("#txt_case_qty").val();
      var exp_date = $("#txt_expired_date").val();
      var sData = po_list.rows( { selected: true } ).data();
      var id;
      if (sData[0].datatype != "pending_po_item"){
        alert("Action is not allowed");
        return;
      }
      if(sData.length == 0){
        return;
      }
      if(isNaN(box_qty) || isNaN(case_qty)){
        alert('Input valid Qty');
        return;
      }
      if(box_qty <= 0){
        return;
      }
      id = sData[0].pending_po.id;
      // $.ajax({
      //   url: "/outbound_shipments/printsticker",
      //   type: "POST",
      //   data:{box_qty: box_qty, case_qty: case_qty, exp_date: exp_date, pending_po_id: id},
      //   dataType: "html",
      //   success: function(data) {
      //     eval("("+data+")");
      //   }
      // }); Always crashes
      var url = "/outbound_shipments/ajax_download?id="+id+"&box_qty="+box_qty+"&case_qty="+case_qty+"&exp_date="+exp_date
      window.open(url);
    });

    function load_outbound_stage(upc){
      if ( $.fn.dataTable.isDataTable( '#datatable_outbound_start_table' ) ) {
            po_list = $('#datatable_outbound_start_table').dataTable();
            po_list.fnDestroy();
        }
        po_list = $('#datatable_outbound_start_table').DataTable({
          'info':     true,  // Bottom left status text
          "iDisplayLength" : 12,
          deferRender: true,
          orderCellsTop: true,
          bLengthChange: false,
          bFilter: false,
          sAjaxSource: '/outbound_shipments/list_pending?upc='+upc,
          aoColumns: [

            { mData: 'datatype' },

            { mData: 'box_qty' },
            { mData: 'pending_po.vendoritem.seller_sku.user.full_name'},
            { mData: 'pending_po.missing'},
            { mData: 'pending_po.pending_po_index.po_name'},
            { mData: 'pending_po.vendoritem.title', render: function (data, type, full, meta) {
              return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
            } },
            { mData: 'pending_po.vendoritem.vendor.name' },
            { mData: 'pending_po.vendoritem.vendorsku' },
            { mData: 'pending_po.vendoritem.seller_sku.inbound_destination' },
            { mData: 'pending_po.vendoritem.seller_sku.fnsku' },
            { mData: 'pending_po.vendoritem.upc' },
            { mData: 'pending_po.received_quantity' },
            { mData: 'pending_po.order_quantity' },
            { mData: 'pending_po.confirmed_qty' ,className:"number_cell highlight_cell"},
            { mData: 'pending_po.damaged_qty' },
            { mData: 'pending_po.mispick_qty' },
            { mData: 'pending_po.vendoritem.packcount' },
            { mData: 'received_quantity_pack' },
            { mData: null, "mRender": function(data, type, full) {
              var shipment_id = data['shipment_id'];
              var stage_status = data['stage_status'];
              if(stage_status == "SHIPMENT"){
                return data['shipment_id'];
              }else if(stage_status == "SHIPPLAN"){
                return 'SHIPPLAN';
              }
              return '';
            } },
            { mData: 'pending_po.vendoritem.seller_sku.prepinstruction' },
            { mData: null, render: function (data, type, full, meta) {
              return '<button class="btn btn-info btn-sm add_shipment" >' + 'Add Shipment' + '</button>';
            } },
            { mData: ''},
          ],
          select: true,
          rowId: 'id',
          aoColumnDefs: [
              { "visible": false, "targets": [0,1] },

              { className:"number_cell click_cell", "targets":[0,1,2,3,4,5,6,7,8,9,10]},
              { className:"number_cell", "targets":"_all"},
          ],
          "createdRow": function ( row, data, index ) {
            if ( data['stage_status'] == "SHIPMENT" ) {
                $('td', row).eq(15).addClass('column_shipment');
            }else if( data['stage_status'] == "SHIPPLAN" ){
                $('td', row).eq(15).addClass('column_shipplan');
            }

          },
          order: [[4, 'asc']]
      });
    }

    function load_outbound_vendor(vendor, name){
      if ( $.fn.dataTable.isDataTable( '#datatable_outbound_vendor_table' ) ) {
            po_all = $('#datatable_outbound_vendor_table').dataTable();
            po_all.fnDestroy();
        }
        po_all = $('#datatable_outbound_vendor_table').DataTable({
          'info':     true,  // Bottom left status text
          "iDisplayLength" : 12,
          deferRender: true,
          orderCellsTop: true,
          bLengthChange: false,
          bFilter: false,
          sAjaxSource: '/outbound_shipments/list_pending_all?vendor='+vendor+'&name='+name,
          aoColumns: [
            { mData: 'vendoritem.full_name'},
            { mData: 'pending_po_index.po_name'},
            { mData: 'vendoritem.vendor' },
            { mData: 'vendoritem.vendorasin.name', render: function (data, type, full, meta) {
              return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
            } },
            { mData: 'vendoritem.vendorsku' },
            { mData: 'vendoritem.asin' },
            { mData: 'vendoritem.seller_sku.sku' },
            { mData: 'vendoritem.upc' },
            { mData: 'received_quantity' },
            { mData: 'order_quantity' },
            { mData: 'shipped_packs'},
            { mData: 'missing' },
            { mData: null },
          ],
          select: true,
          rowId: 'id',
          aoColumnDefs: [
              { className:"number_cell", "targets":"_all"}
          ],

          order: [[1, 'asc']]
      });
    }
    $('#btn_outbound_success').click(function(){
      var box_qty = $("#txt_box_qty").val();
      var case_qty = $("#txt_case_qty").val();
      var exp_date = $("#txt_expired_date").val();
      var asin = $("#txt_search_upc").val();
      var sData = po_list.rows().data();
      var response
      if(asin.length == 0){
        alert("Please search valid ASIN/UPC or SKU and continue!")
        return
      }
      table = $('#2dBarcodeTable').dataTable();
      table.fnDestroy();
      table = $('#2dBarcodeTable').DataTable( {
            "searching":  true,
            "processing": true,
            "serverSide": true,
            sAjaxSource: '/outbound_shipments/get_box_information?asin=' + asin,
            aoColumns: [
            { mData: 'shipment_id', sClass: "text-center", render: function (data, type, full, meta) {
                return data + '<input type="hidden" name="outbound_shipment['+ meta.row +'][shipment_id]" value="' + data + '">'
            } },
            { mData: 'asin', sClass: "text-center", render: function (data, type, full, meta) {
                return data + '<input type="hidden" name="outbound_shipment['+ meta.row +'][asin]" value="' + data + '">'
            } },
            { mData: 'boxable_quantity', sClass: "text-center", render: function (data, type, full, meta) {
                return '<input type="text" class="form-control" name="outbound_shipment['+ meta.row +'][boxable_quantity]" style="width: 50%" value="' + data + '">'
            } },
            { mData: 'quantity_to_be_boxed', sClass: "text-center", render: function (data, type, full, meta) {
                return '<input type="number" min="0" class="form-control" name="outbound_shipment['+ meta.row +'][quantity_to_be_boxed]" style="width: 50%" value="">'
            } },

            ],
            buttons: [
              //  {extend: "remove", editor: deletor_shipment},
            ],

            dom: "Bfrt",
        } );
      $("#2dBarcodePopUp").modal('show')
      // var url = "/transport_plans/print_mix_labels?asin=" + asin + "&box_qty=" + box_qty + "&case_qty=" + case_qty + "&exp_date=" + exp_date
      // window.open(url);
    });
    $(".mix2DLabelFormSubmit").click(function(){
      $("#2DLabelsForm").submit();
      $("#2dBarcodePopUp").modal('hide')
    });
  </script>

<% end %>
<style type="text/css">
.modal-dialog {
    margin: 80px auto;
  }
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }


    th input {
        width: 90%;
        min-width: 50px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal-backdrop
    {
      display: none;
    }

    tfoot {
      display: table-header-group;
    }
</style>


<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="form-group">
          <div class="col-sm-4">
            <input type="text" class="form-control vendor_search" id="txt_search_vendor"/>
            <span class="help-block m-b-none">Vendor</span>
          </div>
          <div class="col-sm-4">
              <input type="text" class="form-control vendor_search" id="txt_search_product"/>
              <span class="help-block m-b-none">Product Name</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_outbound_vendor_table" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th>User</th>
                      <th >PO #</th>
                      <th >Vendor</th>
                      <th style="min-width:200px; max-width: 350px;">Title</th>
                      <th >Vendor SKU</th>
                      <th >ASIN</th>
                      <th >SellerSKU</th>
                      <th> UPC</th>
                      <th >Stage</th>
                      <th >Single</th>
                      <th >Pack</th>
                      <th >Missing</th>
                      <th >Note</th>
                     </tr>

                  </thead>
                  <tbody></tbody>
                  <tfoot>

                  </tfoot>
               </table>
            </div>
          </div>
      </div>
      <div class="panel-heading col-lg-12">
        <div class="form-group">
            <div class="col-sm-4">
              <input type="text" class="form-control" id="txt_search_upc"/>
              <span class="help-block m-b-none">UPC/ASIN/SKU</span>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="txt_box_qty"/>
              <span class="help-block m-b-none">How many Box?</span>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="txt_case_qty"/>
              <span class="help-block m-b-none">How many in Box?</span>
            </div>
            <div class="col-sm-2">
                  <input type="text" class="form-control" id="txt_expired_date">

              <span class="help-block m-b-none">Expired Date</span>
            </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <button  class="btn btn-primary" id="btn_outbound_receive">Receive</button>
            <button  class="btn btn-primary" id="btn_outbound_sticker">Get Sticker</button>
            <button  class="btn btn-success" id="btn_outbound_send_bagger">Send To Bagger</button>
            <button  class="btn btn-primary" id="btn_outbound_check_shipplan">Check Shipplan</button>
            <button  class="btn btn-primary" id="btn_outbound_recreate_sku">Recreate SKU</button>
            <button  class="btn btn-primary" id="btn_outbound_complete_item"> Complete</button>
            <button  class="btn btn-success" id="btn_outbound_show_all_plan">SHOW ALL PLAN</button>
            <button  class="btn btn-success" id="btn_outbound_show_all_shipment">SHOW ALL SHIPMENT</button>
            <button  class="btn btn-default" id="btn_outbound_success">PRINT MIXED 2D LABEL</button>
          </div>
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_outbound_start_table" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th >Type</th>
                      <th >Box_Qty</th>
                      <th>User</th>
                      <th>Missing</th>
                      <th >PO #</th>
                      <th style="min-width:200px; max-width: 350px;">Title</th>
                      <th >Vendor</th>
                      <th >Vendor SKU</th>
                      <th>Dest</th>
                      <th >FNSKU</th>
                      <th> UPC</th>
                      <th >Received</th>
                      <th>BuyQty</th>
                      <th>Confirmed Qty</th>
                      <th >Damage</th>
                      <th >MisPick</th>
                      <th>PC</th>
                      <th>Pack</th>
                      <th>Shipment</th>
                      <th >PrepInstruction</th>
                      <th>Add Shipment</th>
                      <th>Print 2D</th>
                     </tr>

                  </thead>
                  <tbody></tbody>
                  <tfoot>

                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "shipmentlist" %>
<%= render partial: "stage_image" %>
<%= render partial: "shipment_address" %>
<%= render partial: "2d_barcode_pop_up" %>
