<div class = "content_page alwaysbreak" >
    <div class="title" style="min-height:30px">
        <%= @pending_po.vendoritem.seller_sku.item_name || @pending_po.vendoritem.vendortitle %>
    </div>
    <div class="fnsku">
        <%= @pending_po.vendoritem.seller_sku.fnsku || '' %>, Pack Of <%= @pending_po.vendoritem.packcount%>
    </div>
    <div class="labeling">
        <%= @pending_po.vendoritem.seller_sku.prepinstruction || ''%>
    </div>
</div>

<% (1..sticker_page).each do |i| %>
    <div class = "content_page alwaysbreak">
        <div class="barcode" >
            <img src="<%= barcode_url %>" />
        </div>
        <div class="fnsku">
            <%= @pending_po.vendoritem.seller_sku.fnsku || '' %>, Pack Of <%= @pending_po.vendoritem.packcount%>
        </div>
        <div class="title" style="font-size: 10px;max-height: 10mm;
    overflow: hidden;
    text-overflow: ellipsis;">
            <%= @pending_po.vendoritem.seller_sku.item_name || @pending_po.vendoritem.vendortitle %>
        </div>
        <div class="status">
            <% unless exp_date.empty? %>
                New, Exp: <%= exp_date %>
            <% else %>
                New
            <% end %>
        </div>
    </div>
<% end %>