<table class="" border="0" cellspacing="3" cellpadding="0">
	<tbody>
		<tr>
			<td width="85" style="width:63.75pt;padding:.75pt .75pt .75pt .75pt">
	<p class="MsoNormal">
		<span style="color:#1f497d">
			<%= image_tag attachments['logo.png'].url, :style=>"width:75px;max-width:100%" %>
		<span style="color:#1f497d"><u></u><u></u></span></p>
	</td>
	<td style="border:none;border-left:solid #035db8 1.5pt;padding:.75pt .75pt .75pt .75pt">
	<table class="" border="0" cellspacing="3" cellpadding="0" style="margin-left:7.5pt">
	<tbody>
	<tr>
	<td style="padding:0in 0in 0in 0in">
	<p class="MsoNormal" style="line-height:13.5pt"><span style="font-size:11.5pt;color:#1f497d">Steven Rozen</span><span style="font-size:11.5pt;color:#1f497d"><u></u><u></u></span></p>
	</td>
	</tr>
	<tr>
	<td style="padding:0in 0in 0in 0in">
	<p class="MsoNormal" style="line-height:10.5pt"><span style="font-size:8.5pt;color:black">FBA Support's CEO</span><span style="font-size:8.5pt;color:black"><u></u><u></u></span></p>
	</td>
	</tr>
	<tr>
	<td style="padding:3.75pt 0in 0in 0in">
	<p class="MsoNormal" style="line-height:12.75pt"><b><span style="font-size:10.5pt;color:#1f497d">FBA Support</span></b><b><span style="font-size:10.5pt;color:#1f497d"><u></u><u></u></span></b></p>
	</td>
	</tr>
	<tr>
	<td style="padding:0in 0in 0in 0in">
	<p class="MsoNormal"><i><span style="font-size:8.5pt;color:#1f497d">Welcome to the Software You've Always Wanted...</span></i><span style="font-size:8.5pt;color:#1f497d"><u></u><u></u></span></p>
	</td>
	</tr>
	<tr>
	<td style="padding:0in 0in 0in 0in">
	<p class="MsoNormal">
		<span style="font-size:8.5pt;color:#1f497d">
			<a href="https://calendly.com/fba-steve">
				<span style="color:blue">Book a quick chat here</span>
			</a> |
			<a href="http://fba.support/" target="_blank"">
				<span style="color:blue">FBA.support</span>
			</a> |
			<a href="mailto:>steven@fba.support" target="_blank"><span style="color:blue">steven@fba.support</span></a>
		</span>
		<span style="font-size:8.5pt;color:#1f497d"><u></u><u></u></span></p>
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	</tbody>
</table>