<div class="row">
   <div class="col-lg-6">
      <%= form_for @user do |f| %>
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title">Edit Profile</div>
            </div>
            <div class="panel-body">
               <div class="form-group has-feedback">
                    <%= link_to "Allow MWS Access", "https://sellercentral.amazon.com/gp/mws/registration/register.html?signInPageDisplayed=1&developerName=FBA.support&devMWSAccountId=6167-1020-0908", :target => "_blank"  %> 
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, :class => 'form-control', autofocus: true %>
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, :class => 'form-control', autofocus: true %>
                </div>
               <div class="form-group has-feedback">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, :class => 'form-control' %>
               </div>
               
               <div class="form-group has-feedback">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, :class => 'form-control', autocomplete: "off"  %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
               </div>
                <div class="form-group has-feedback">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
                </div>
                <div class="form-group has-feedback">
                    <%= f.label :seller_id %><br />
                    <%= f.text_field :seller_id, :class => 'form-control', autocomplete: "off" %>
                </div>
                <div class="form-group has-feedback">
                    <%= f.label :"MWS_TOKEN" %><br />
                    <%= f.text_field :mws_access_token, :class => 'form-control', autocomplete: "off"  %>
                </div>
                <div class="form-group has-feedback" style="display:none">
                    <%= f.label :"MARKETPLACE" %><br />
                    <%= f.text_field :mws_market_place_id, :class => 'form-control', autocomplete: "off"  %>
                </div>
                <%= hidden_field_tag(:page, "profile") %>
               <div class="actions">
                  <%= f.submit "Update" ,:class => 'btn btn-lg btn-primary'%>
              </div>
            </div>
         </div>
         <!-- END panel-->
      <% end %>
   </div>
</div>

<%= link_to "Back", :back %>
