<%= form_for(pending_po) do |f| %>
  <% if pending_po.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pending_po.errors.count, "error") %> prohibited this pending_po from being saved:</h2>

      <ul>
      <% pending_po.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
