<div class="modal fade" id="dlg_edit_invoice" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            
                <div style="text-align: center;">
                  Invoice Name
                  <input type="text" name="txt_invoice_name" id="txt_invoice_name" placeholder="Invoice Name">
                </div>
                <div style="text-align: center;">
                  Quantity
                  <input type="number" name="txt_invoice_qty" id="txt_invoice_qty" placeholder="Quantity">
                </div>
                <div style="text-align: center;">
                  Cost
                  <input type="number" name="txt_invoice_cost" id="txt_invoice_cost" placeholder="Unit Cost">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  data-dismiss="modal" class="btn btn-standard">Close</button>
                <button type="button" id="btn_edit_invoice" data-dismiss="modal" class="btn btn-primary ">Create</button>
            </div>
        </div>
    </div>
</div>