<style type="text/css">
  .btn-primary.active {
    background-color: #5555e7 !important;
  }
.modal-dialog {
    margin: 80px auto;
  }

  div.dataTables_wrapper {
      margin: 0 auto;
  }
  
  .modal-backdrop
  {
    display: none;
  }

  th input {
    width: 90%;
    min-width: 50px;
  }
  
</style>
<% content_for :page_scripts do %>
  <script>
    var po_list;
    var po_all;
    $(document).ready(function(){
      initEditor();
    });
    </script>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Pending Pos</h1>
<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary  btn-lg filter-status">
                        <input id="option6" name="options" type="radio" value="All">
                        All <%= @pending_pos.per_status("All").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg filter-status active">
                        <input id="option0" name="options" type="radio" value="">
                        No Status <%= @pending_pos.per_status("").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option1" name="options" type="radio" value="Backorder">
                        Backorder <%= @pending_pos.per_status("Backorder").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option2" name="options" type="radio" value="Mismatch">
                        Mismatch <%= @pending_pos.per_status("Mismatch").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option3" name="options" type="radio" value="Confirmed">
                        Confirmed <%= @pending_pos.per_status("Confirmed").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option4" name="options" type="radio" value="Discontinued">
                        Discontinued <%= @pending_pos.per_status("Discontinued").load.size %>
                    </label>
                    <label class="btn btn-primary  btn-lg  filter-status">
                        <input id="option5" name="options" type="radio" value="Completed">
                        Completed <%= @pending_pos.per_status("Completed").load.size %>
                    </label>
                </div>
            </div>
        </div>
        <div class="panel-title col-lg-5">
          <table class='clickable-row table-hover' style = "border-bottom:1px solid blue;" data-href='/pending_pos?invoice=no'>
            <tr>
              <td width="300px">Total Quantity without Invoice</td>
              <td><%= @total_quantitiy_without_invoice%></td>
            </tr>
            <tr>
              <td width="300px">Total Cost without Invoice</td>
              <td><%= number_to_currency(@total_cost_without_invoice)%></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datable_pending_all_po_list" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th></th>
                      <th >Customer</th>
                      <th>PO</th>
                      <th >Created At</th>
                      <th >Vendor</th>
                      <th style="min-width:200px; max-width: 350px;">Name</th>
                      <th>Cost</th>
                      <th >E. Cost</th>
                      <th>Pack Count</th>
                      <th>Confirmed Qty</th>
                      <th>Confirmed Pack</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th >Ordered  Qty</th>
                      <th>Recieved Qty</th>
                      <th>Paid Qty</th>
                      <th>Shipped Packs</th>
                      <th>Warehousing</th>
                      <th>Warehouse Fees</th>
                      <th>Seller Sku</th>
                      <th>Asin</th>
                      <th>Vendor Sku</th>
                      <th>Labeling</th>
                      <th>Bubble</th>
                      <th>Polybag</th>
                      <th>Bundle</th>
                      <th>Box</th>
                      <th>Invoice</th>
                      <th></th>
                      <th>Vendor Invoice</th>
                      <th>Balance Due</th>
                      <th>Oversize</th>
                      <th>date invoiced</th>
                      <th>Item Label</th>
                      <th>Paid</th>
                      <th>Date</th>
                      <th>Remaining</th>
                      <th>RMA</th>
                      <th>Shipped</th>
                     </tr>
                     <tr id="filterrow" class="datatable_filter_header">
                      <th></th>
                      <th >Customer</th>
                      <th>PO</th>
                      <th >Created At</th>
                      <th >Vendor</th>
                      <th style="min-width:200px; max-width: 350px;">Name</th>
                      <th>Cost</th>
                      <th >E. Cost</th>
                      <th>Pack Count</th>
                      <th>Confirmed Qty</th>
                      <th>Confirmed Pack</th>
                      <th>Status</th>
                      <th>Date</th>
                      <th >Ordered  Qty</th>
                      <th>Recieved Qty</th>
                      <th>Paid Qty</th>
                      <th>Shipped Packs</th>
                      <th>Warehousing</th>
                      <th>Warehouse Fees</th>
                      <th>Seller Sku</th>
                      <th>Asin</th>
                      <th>Vendor Sku</th>
                      <th>Labeling</th>
                      <th>Bubble</th>
                      <th>Polybag</th>
                      <th>Bundle</th>
                      <th>Box</th>
                      <th>Invoice</th>
                      <th></th>
                      <th>Vendor Invoice</th>
                      <th>Balance Due</th>
                      <th>Oversize</th>
                      <th>date invoiced</th>
                      <th>Item Label</th>
                      <th>Paid</th>
                      <th>Date</th>
                      <th>Remaining</th>
                      <th>RMA</th>
                      <th>Shipped</th>
                     </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render "invoice_edit" %>
<%= render partial: "layouts/partials/useroption" %>
<%= javascript_tag do %>
  window.invoice = "<%= @invoice %>";
  window.warehouse_vendor = "<%= @warehouse_vendor %>";
<% end %>