<% @transport_plan.boxes.each_with_index do |package, index| %>
  <div class = "content_page alwaysbreak main-pdf-body" style="font-family:serif;">
      <div style='text-align:center;font-size:110px;font-weight:bold;margin-bottom:10px;'>
          Box Contents
      </div>
      <div>
        <span style='text-align:left;font-size:70px;margin-right: 10px;font-weight:bold;'>
            FC: <%= @inbound_shipment.destination_fulfillment_center_id %>
        </span>
        <span style='text-align:right;font-size:70px;margin-left: 10px;font-weight:bold;'>
            Units: <%= package.package_informations.sum(:quantity) %>
        </span>
      </div>
      <div class="barcode" >
          <img src="https://barcode.tec-it.com/barcode.ashx?data=<%= package.barcode_data %>&code=PDF417&dpi=96&dataseparator=">
      </div>
      <div style="text-align:center;font-size:60px;font-weight:bold; margin:10px 0 0 10px;">
          <%= @inbound_shipment.shipment_id %>
          <br>
      </div>
      <div style="text-align:center;font-size:50px;">
          <%= @inbound_shipment.shipment_id + 'U00' + (index + 1).to_s %>
      </div>
      <div style="margin: 5px 5px 5px 5px;">
          <% package.package_informations.each do |pkg_info| %>
            <div style="width: 50%; float: left; text-align: left; font-size: 40px;">
              <%= pkg_info.asin %>: <%= pkg_info.quantity %>
            </div>
        <% end %>
      </div>
  </div>
<% end %>
