<style>
 .invoice_header{
    background-color: #F5F5F5;
 }
 .div_one{
    height:25px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block; */
    padding-right: 30px;
  }

  .div_two{
    height:25px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block;*/
  }

  .border_td{
    border-bottom:1px solid #E0E0E0;
  }
 /* table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}*/
    thead { display: table-header-group; } tfoot { display: table-row-group; } tr { page-break-inside: avoid; }
</style>
<div class="invoice_header" style="border-top: 25px solid red;padding-top:25px;height:250px;background-color: #F5F5F5;">
    <img src="<%= @logo %>" style="position:absolute;width:80px;height:50px;margin-top:10px;margin-left:20px;" />
    <div style="position:absolute;left:120px">
        <h4>Daily Distro</h4>
        <div>7001 Anpesil Dr suite C5</div>
        <div> North Bergen, NJ 07047 United States</div>
        <div>(347) 586-0271</div>
    </div>
    <div style="position:absolute;right:100px;top:80px;">
        <h4>INVOICE</h4>
        <div class="border_td" style="width:100px;text-align:left;margin-top:10px;"><%= Date.today.strftime("%B %d, %Y") %> </div>
        <div class="border_td" style="width:100px;text-align:left;margin-top:10px;"><%= @shipment.invoice_name %></div>
    </div>
</div>
<div class="payment-info" style="height:200px;margin-top:50px;">
    <div style="text-align:right">Payment: Paid by </div>
    <div style="margin-top:25px;">
        <div class="div_one">
            <div style="border-bottom-style:solid;border-bottom-width:1px;"><strong>BILL TO</strong></div>
        </div>
        <div class="div_two">
            <div style="border-bottom-style:solid;border-bottom-width:1px;"><strong>SHIP TO</strong></div>
            <div ><%= @shipment&.shipment_id %></div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ><%= @shipment&.user&.full_name %></div>
        </div>
        <div class="div_two">
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
            <div >Amazon</div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
            <div >Amazon Hazelton AVP1</div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div style="text-decoration:underline;color:blue"></div>
        </div>
        <div class="div_two">
        </div>
    </div>
</div>

<div class="item-information " style="margin-top:40px">
    <table width="100%" class="table table-striped table-bordered" style="table-layout: fixed;">
        <thead>
            <tr >
                <th style="color:white;background-color:red;text-align:center" width="50%">DESCRIPTION</th>
                <th style="color:white;background-color:red;text-align:center" width="20%">Vendor SKU</th>
                <th style="color:white;background-color:red;text-align:center" width="20%">UPC</th>
                <th style="color:white;background-color:red;text-align:center" width="10%">Single</th>
                <th style="color:white;background-color:red;text-align:center" width="10%">PC</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">Shipped</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">UNIT</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">Price</th>
                <th style="color:white;background-color:red;text-align:center" width="12%">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <% subtotal = 0 %>
            <% prep_total = 0 %>
            <% @shipment.inbound_shipment_items.each do |ship_item| %>
                <% if ship_item&.pending_po&.vendoritem.nil? %>
                    <% next %>
                <% end %>
                <% subtotal = subtotal + ship_item&.pending_po&.cost.to_f  * ship_item.quantity_shipped * ship_item&.pending_po&.vendoritem&.packcount %>
                <% prep_total = prep_total + ship_item.prep_fee_total %>
                <tr>
                    <td width="50%"><%= ship_item&.pending_po&.vendoritem&.vendorasin&.name %> </td>
                    <td style="text-align:center" width="20%"><%= ship_item&.pending_po&.vendoritem&.vendorsku %></td>
                    <td style="text-align:center" width="20%"><%= ship_item&.pending_po&.vendoritem&.upc %></td>
                    <td style="text-align:center" width="10%"><%= ship_item&.pending_po&.received_quantity %></td>
                    <td style="text-align:center" width="10%"><%= ship_item&.pending_po&.vendoritem&.packcount %></td>
                    <td style="text-align:center" width="16%"><%= ship_item.quantity_shipped %></td>
                    <td style="text-align:right" width="16%"><%= number_to_currency(ship_item&.pending_po&.cost) %></td>
                    <td style="text-align:right" width="16%">--</td>
                    <td style="text-align:right" width="12%"><%= number_to_currency(ship_item&.pending_po&.cost.to_f * ship_item.quantity_shipped * ship_item&.pending_po&.vendoritem&.packcount) %></td>
                </tr>
                <tr>
                    <td style="text-align:center">Prep and Pack fees</td>
                    <td style="text-align:right" colspan="7"><%= ship_item.prep_fee_summary %></td>
                </tr>
            <% end %>
            <% if @shipment.latest_transport_plan.truck_and_not_partnered? %>
              <% subtotal += @shipment.latest_transport_plan.shipping_fee.to_f %>
              <tr>
                  <td width="50%">SHIPPING FEE</td>
                  <td style="text-align:center" width="20%">--</td>
                  <td style="text-align:center" width="20%">--</td>
                  <td style="text-align:center" width="10%">--</td>
                  <td style="text-align:center" width="10%">--</td>
                  <td style="text-align:center" width="16%">--</td>
                  <td style="text-align:center" width="16%">--</td>
                  <td style="text-align:center" width="16%">--</td>
                  <td style="text-align:right" width="12%"><%= number_to_currency(@shipment.latest_transport_plan.shipping_fee) %></td>
              </tr>
            <% end %>
            <% if @shipment.ship_cus_invoice.new_box_count.to_i > 0 %>
              <% subtotal += @shipment.ship_cus_invoice.new_box_total %>
              <tr>
                <td width="50%">NEW BOXES - WAREHOUSE</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="16%">--</td>
                <td style="text-align:center" width="16%"><%= @shipment.ship_cus_invoice.new_box_count %></td>
                <td style="text-align:center" width="16%">$2</td>
                <td style="text-align:right" width="12%"><%= number_to_currency(@shipment.ship_cus_invoice.new_box_total) %></td>
              </tr>
            <% end %>
            <% if @shipment.total_pallete_count > 0 %>
              <% subtotal += @shipment.pallete_charges %>
              <tr>
                <td width="50%">PALLETE CHARGES</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="16%">--</td>
                <td style="text-align:center" width="16%"><%= @shipment.total_pallete_count %></td>
                <td style="text-align:center" width="16%">$15</td>
                <td style="text-align:right" width="12%"><%= number_to_currency(@shipment.pallete_charges) %></td>
              </tr>
            <% end %>
            <% if (@shipment.mix_label_charges / 0.22).to_i > 0 %>
              <tr>
                <% subtotal += @shipment.mix_label_charges.to_f %>
                <td width="50%">2D LABEL PRINTING</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="20%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="10%">--</td>
                <td style="text-align:center" width="16%">--</td>
                <td style="text-align:center" width="16%"><%= (@shipment.mix_label_charges / 0.22).to_i %></td>
                <td style="text-align:center" width="16%">$0.22</td>
                <td style="text-align:right" width="12%"><%= number_to_currency(@shipment.mix_label_charges) %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <table  width="100%" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td style="text-align:center" width="60%"><strong>Remarks / Payment Instructions: Credit Card</strong></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">SUBTOTAL</td>
                <td class="border_td" style="text-align:right"width="20%"><%= number_to_currency(subtotal) %></td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">DISCOUNT</td>
                <td class="border_td" style="text-align:right" width="20%">0.00</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">SUBTOTAL LESS DISCOUNT</td>
                <td class="border_td" style="text-align:right" width="20%"><%= number_to_currency(subtotal) %></td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">TAX RATE</td>
                <td class="border_td" style="text-align:right" width="20%">0.00%</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">TOTAL TAX</td>
                <td class="border_td" style="text-align:right" width="20%">0.0</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">SHIPPING/HANDLING</td>
                <td class="border_td" style="text-align:right" width="20%">0.00</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="border-bottom:3px solid black;text-align:right" width="20%">PREP TOTAL</td>
                <td style="border-bottom:3px solid black;text-align:right" width="20%"><%= number_to_currency(prep_total) %></td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right;pdding:3px;font-size:20px;" width="20%"><strong>Balance Due</strong></td>
                <td  style="text-align:right;border-bottom:3px solid black;background-color:##F5CBCB;pdding:3px;font-size:20px;" width="20%">
                  <strong>
                    <%= number_to_currency(prep_total + subtotal) %>
                  <strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
