<% if !(shipment.latest_transport_plan.present?) %>
  <%= link_to "Create Transport Plan", inbound_shipment_path(shipment.id), class: "btn btn-warning btn-xs" %>
<% elsif !(shipment.latest_transport_plan.uploaded_to_amazon) %>
  <%= link_to "Upload to Amazon", upload_to_amazon_transport_plan_path(id: shipment.id), method: :post, class: "btn btn-warning btn-xs" %>
<% else %>
  <% if shipment.latest_transport_plan.delivery_by_amazon %>
    <% if shipment.latest_transport_plan.status == "WORKING" %>
      <%= link_to "ESTIMATE", initiate_estimate_transport_plans_path(id: shipment.latest_transport_plan.id), method: :post, class: "btn btn-success btn-xs" %>
    <% elsif shipment.latest_transport_plan.status == "ESTIMATING" and shipment.latest_transport_plan.amazon_estimate.blank? %>
        <%= link_to "Reload", estimate_transport_plans_path(id: shipment.latest_transport_plan.id), method: :post, class: "btn btn-warning btn-xs" %>
    <% elsif shipment.latest_transport_plan.status == "ESTIMATED" %>
      <%= link_to "Confirm", initiate_confirmation_transport_plans_path(id: shipment.latest_transport_plan.id), method: :post, class: "btn btn-success btn-xs" %>
    <% elsif shipment.latest_transport_plan.status == "CONFIRMING" %>
      <%= link_to "Reload", confirm_transport_plans_path(id: shipment.latest_transport_plan.id), method: :post, class: "btn btn-warning btn-xs" %>
    <% elsif shipment.latest_transport_plan.status == "CONFIRMED" %>
      <%#= link_to "Reload", new_transport_plan_path(id: shipment.latest_transport_plan.id), class: "btn btn-info btn-xs" %>
    <% end %>
  <% end %>
<% end %>
