<h3>Box information for generating 2D Labels</h3>
<h3>Shipment ID: <%= @inbound_shipment.shipment_id %></h3>
<%= nested_form_for @transport_plan, url: submit_box_information_transport_plans_path do |f| %>
  <%= hidden_field_tag :transport_content_id, @transport_plan.id %>
  <div class="col-md-10">

  </div>
  <div class="col-md-2">
    <%= link_to "Print 2D label <i class='fa fa-tags'></i>".html_safe, print_2d_label_transport_plans_path(inbound_shipment_id: @inbound_shipment.try(:id)), class: "btn btn-warning btn-lg" %>
  </div>
  <div class="clear20"></div>

  <hr style="border: 1px dashed black;" />
  <div id="box-packages-section">
    <div class="box-info">

      <%= f.fields_for :boxes do |j| %>
        <% if j.object.id %>
          <h3>Box # <%= j.index + 1 %></h3>
        <% end %>
        <div class="col-md-2">
          <%= j.label "Dimension Unit" %>
          <%= j.select :dimenstion_unit, TransportContent::DIMESION_UNITS, {include_blank: false}, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= j.label "Length" %>
          <%= j.text_field :length, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= j.label "Width" %>
          <%= j.text_field :width, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= j.label "Height" %>
          <%= j.text_field :height, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= j.label "Weight Unit" %>
          <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= j.label "Weight" %>
          <%= j.text_field :weight, class: "form-control" %>
        </div>

        <div id="package-information-section-<%= j.index %>">
          <div class="clear20"></div>
          <%= j.fields_for :package_informations do |k| %>
            <div class="clear20"></div>
            <div class="col-md-3">
              <%= k.label "ASIN" %>
              <%= k.text_field :asin, class: "form-control", placeholder: "ASIN or UPC" %>
            </div>
            <div class="col-md-3">
              <%= k.label "Quantity" %>
              <%= k.number_field :quantity, class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= k.label "Expiry Date" %>
              <%= k.date_field :expiry_date, class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= k.link_to_remove "<i class='fa fa-times'></i> Remove ASIN".html_safe, class: "btn btn-danger text-right remove-asin-btn" %>
            </div>
          <% end %>
        </div>

        <div class="clear20"></div>
        <div class="clear20"></div>

        <div class="text-center">
          <%= j.link_to_add "Add ASIN row <i class='fa fa-sitemap'></i>".html_safe, :package_informations, "data-target" => "#package-information-section-#{j.index}", class: "btn btn-info" %>
        </div>

        <hr style="border: 1px dashed black;" />
      <% end %>
    </div>
    <div class="clear20"></div>
  </div>

  <div class="clear20"></div>

  <div class="text-center">
    <%= f.link_to_add "Add More Boxes <i class='fa fa-archive'></i>".html_safe, :boxes, "data-target" => "#box-packages-section", class: "btn btn-info text-center" %>
  </div>

  <div class="clear20"></div>

  <%= f.submit "Save Box Information", class: "btn btn-success btn-lg" %>
<% end %>
