<% content_for :page_scripts do %>
  <script>
    var po_list;
    var po_all;
    $(document).ready(function(){
        $('.display').dataTable();
    });
    </script>
<% end %>
<div class="row">
  <div class="col-md-3">
    <h1 class="text-left">Shipments</h1>
  </div>
  <% if current_user.admin? %>
    <div class="col-md-9">
      <%= form_for :user, url: transport_plans_path, method: :get, remote: false do %>
      <div class="text-right pull-right">
        <%= label_tag "Select User", nil %>
        <%= select_tag :user_id, options_for_select(@users.collect{ |u| [u.label, u.id] }, selected: params[:user_id]), { onchange: "$(this).form().submit()", prompt: "All", class: "user-search-select"} %>

        <%= label_tag "Shipment Status", nil %>
        <%= select_tag :shipment_status, options_for_select(InboundShipment::SHIPMENT_STATUSES, selected: params[:shipment_status] || "WORKING"), { prompt: "All", onchange: "$(this).form().submit()", class: "user-search-select"} %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<div id="content">
  <div class="content-inner">


    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          Shipments
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="transport_plans" class="display" style="width: 100%">
                  <thead>
                     <tr>
                      <th>Shipment ID</th>
                      <th>Customer Name</th>
                      <th>Customer Email</th>
                      <th>Name</th>
                      <th>Label type</th>
                      <th>Destination Id</th>
                      <th>State/Province</th>
                      <th>Postal Code</th>
                      <th>City</th>
                      <th>Estimate</th>
                      <th>Shipment Status</th>
                     </tr>
                  </thead>
                  <tbody>
                    <% @inbound_shipments.each do |shipment| %>
                      <tr>
                        <td title="Click to view transport plan"><%= link_to shipment.shipment_id, inbound_shipment_path(shipment.id) %></td>
                        <td><%= shipment.user.full_name %></td>
                        <td><%= shipment.user.email %></td>
                        <td><%= shipment.name %></td>
                        <td><%= shipment.label_prep_type %></td>
                        <td><%= shipment.destination_fulfillment_center_id %></td>
                        <td><%= shipment.state_or_province_code %></td>
                        <td><%= shipment.postal_code %></td>
                        <td><%= shipment.city %></td>
                        <td><%= shipment.latest_transport_plan.try(:formatted_estimate) || "N/A" %></td>
                        <td><%= shipment.shipment_status %></td>
                      </tr>
                    <% end %>
                  </tbody>
                  <tfoot>

                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
