<div class = "content_page alwaysbreak main-pdf-body" style="font-family:serif;">
    <div style='text-align:center;font-size:110px;font-weight:bold;margin-bottom:10px;'>
        Box Contents
    </div>
    <div>
      <span style='text-align:left;font-size:70px;margin-right: 10px;font-weight:bold;'>
      </span>
      <span style='text-align:right;font-size:70px;margin-left: 10px;font-weight:bold;'>
          Units: <%= @quantity %>
      </span>
      <% if @customer_name.present? %>
        <span style='text-align:right;font-size:70px;margin-left: 10px;font-weight:bold;'>
            <br>
            <%= @customer_name %>
        </span>
      <% end %>
    </div>
    <div class="barcode" >
        <img src="https://barcode.tec-it.com/barcode.ashx?data=<%= @label_data %>&code=PDF417&dpi=96&dataseparator=">
    </div>
    <% @asin_info.each do |asin_info| %>
      <div style="margin: 5px 5px 5px 5px;">
        <div style="width: 50%; float: left; text-align: left; font-size: 40px;">
          <%= asin_info[:asin] %>: <%= asin_info[:quantity] %>
        </div>
      </div>
    <% end %>
</div>
