<div class="container">
  <h4>Transport Details</h4>
  <%= nested_form_for @transport_content, url: transport_plans_path, method: :post do |f| %>
    <%= f.hidden_field :inbound_shipment_id, value: params[:inbound_shipment_id] %>
    <div class="row shipment-selects">
      <div class="col-md-3">
        <%= f.label "Deliver by Amazon Partnered carrier?" %>
        <%= f.select :delivery_by_amazon, TransportContent::PARTNER_OPTIONS, {include_blank: true}, prompt: 'Partnered', class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label "Shipment Type" %>
        <%= f.select :shipment_type, TransportContent::SHIPMENT_TYPE_OPTIONS, {include_blank: true}, prompt: 'Shipment Type', class: "form-control" %>
      </div>
    </div>

    <div class="row transport-info-section partnered-small-parcel hidden">
      <h4>Partnered Small Parcel</h4>
      <div class="col-md-6">
        <%= f.label "Delivery Partner" %>
        <%= f.select :carrier, TransportContent::CARRIER_FOR_PARTNERED_SMALL_PARCEL, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
      </div>
      <div class="col-md-6">

      </div>
      <br>
      <div id="packages-section">
        <%= f.fields_for :packages do |j| %>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <%= j.link_to_remove "Remove", class: "btn btn-danger text-right" %>
          </div>
          <hr>
          <div class="col-md-6">
            <%= j.label "Dimension Unit" %>
            <%= j.select :dimenstion_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Length" %>
            <%= j.text_field :length, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Width" %>
            <%= j.text_field :width, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Height" %>
            <%= j.text_field :height, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= j.label "Weight Unit" %>
            <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= j.label "Weight" %>
            <%= j.text_field :weight, class: "form-control" %>
          </div>
        <% end %>
        <div class="clear20">

        </div>
      </div>
      <div class="clear20">

      </div>
      <%= f.link_to_add "Add More Package", :packages, "data-target" => "#packages-section", class: "btn btn-info" %>
      <div class="clear20">

      </div>
    </div>
    <div class="row transport-info-section non-partnered-small-parcel hidden">
      <h4>Non Partnered Small Parcel</h4>
      <div class="col-md-3">
        <%= f.label "Delivery Partner" %>
        <%= f.select :carrier, TransportContent::CARRIER_FOR_NON_PARTNERED_SMALL_PARCEL, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
      </div>
      <div class="" id="trackings-section">
        <%= f.fields_for :trackings do |j| %>
          <div class="clear20">

          </div>
          <div class="col-md-4">
            <%= j.label "Tracking ID" %>
            <%= j.text_field :tracking_number, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= j.link_to_remove "Remove", class: "btn btn-danger text-right tracking-remove-btn" %>
          </div>
        <% end %>
      </div>
      <div class="clear20">

      </div>
      <%= f.link_to_add "Add More Trackings", :trackings, "data-target" => "#trackings-section", class: "btn btn-info" %>
    </div>


    <div class="row transport-info-section partnered-ltl-parcel hidden">
      <h4>Partnered LTL Parcel</h4>
      <h5>Contact Information</h5>
      <div class="col-md-4">
        <%= f.label "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Phone" %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Email" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Fax" %>
        <%= f.text_field :fax, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Box Count" %>
        <%= f.text_field :box_count, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Freight Class" %>
        <%= f.text_field :frieght_class, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Freight Read Date" %>
        <%= f.date_field :frieght_read_date, class: "form-control", format: "yy/mm/dd" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Total Weight" %>
        <%= f.text_field :total_weight, class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "Your Declared Value" %>
        <%= f.text_field :declared_value, class: "form-control" %>
      </div>
      <%= f.link_to_add "Add More Palletes", :palletes, "data-target" => "#palletes-section", class: "btn btn-info" %>
      <div id="palletes-section">
        <%= f.fields_for :palletes do |j| %>
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <%= j.link_to_remove "Remove", class: "btn btn-danger text-right" %>
          </div>
          <hr>
          <div class="col-md-6">
            <%= j.label "Dimension Unit" %>
            <%= j.select :dimension_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Length" %>
            <%= j.text_field :length, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Width" %>
            <%= j.text_field :width, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= j.label "Height" %>
            <%= j.text_field :height, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= j.label "Weight Unit" %>
            <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= j.label "Weight" %>
            <%= j.text_field :weight, class: "form-control" %>
          </div>
        <% end %>
        <div class="clear20">

        </div>
      </div>
    </div>

    <div class="row transport-info-section non-partnered-ltl-parcel hidden">
      <h4>Non Partnered LTL Parcel</h4>
      <div class="col-md-3">
        <%= f.label "Delivery Partner" %>
        <%= f.select :carrier, TransportContent::CARRIER_FOR_NON_PARTNERED_LTL_PACKAGE, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
      </div>
      <div class="col-md-4">
        <%= f.label "PRO number" %>
        <%= f.text_field :pro_number, class: "form-control" %>
      </div>
    </div>
    <div class="clear20">

    </div>
    <%= f.submit :Submit, class: "btn btn-success submit-btn hidden" %>
  <% end %>
</div>
