<h3>Shipment ID: <%= @transport_content.id %></h3>
<div class="row">
  <div class="col-md-3">
    <span><strong>Partnered Delivery:</strong> <%= @transport_content.delivery_by_amazon %></span>
  </div>
  <div class="col-md-3">
    <span><strong>Shipment Type:</strong> <%= @transport_content.full_shipment_type %></span>
  </div>
  <div class="col-md-3">
    <span><strong>Carrier:</strong> <%= @transport_content.carrier %></span>
  </div>
  <div class="col-md-3">
    <span><strong>Status:</strong> <%= @transport_content.status %></span>
  </div>
  <div class="shipment-show">
    <h3>Shipment Details </h3>
    <% if @transport_content.small_package_and_partnered? %>
      <p>Dimensions: </p>
      <hr>
      <% @transport_content.packages.each_with_index do |package, index| %>
        <h5>Package # <%= index + 1 %></h5>
        <div class="col-md-3">
          <span><strong>Unit:</strong> <%= package.dimenstion_unit %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Length:</strong> <%= package.length %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Width:</strong> <%= package.width %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Height:</strong> <%= package.height %></span>
        </div>
        <hr>
      <% end %>
    <% elsif @transport_content.small_package_and_not_partnered? %>
      <h4>Trackings: </h4>
      <% @transport_content.trackings.each_with_index do |tracking, index| %>
        <h5>Tracking # <%= index + 1 %></h5>
        <span><strong>Tracking Number:</strong> <%= tracking.tracking_number %></span>
        <hr>
      <% end %>
    <% elsif @transport_content.truck_and_partnered? %>
      <div class="col-md-3">
        <span><strong>Name:</strong> <%= @transport_content.name %></span>
      </div>
      <div class="col-md-3">
        <span><strong>Phone:</strong> <%= @transport_content.phone %></span>
      </div>
      <div class="col-md-3">
        <span><strong>Email:</strong> <%= @transport_content.email %></span>
      </div>
      <div class="col-md-3">
        <span><strong>Fax:</strong> <%= @transport_content.fax %></span>
      </div>
      <div class="col-md-3">
        <span><strong>Box Count:</strong> <%= @transport_content.box_count %></span>
      </div>
      <div class="col-md-3">
        <span><strong>Frieght Ready Date:</strong> <%= @transport_content.frieght_read_date %></span>
      </div>
    <% elsif @transport_content.truck_and_not_partnered? %>
      <div class="col-md-3">
        <h4 class="text-center"><span><strong>Pro Number:</strong> <%= @transport_content.pro_number %></span></h4>
      </div>
    <% end %>
  </div>

</div>
