<% content_for :page_scripts do %>
  <script>
    var po_list;
    var po_all;
    $(document).ready(function(){
        $('.display').dataTable();
    });
    </script>
<% end %>

<h1>Working Shipments</h1>
<%= link_to "New", new_transport_plan_path, class: "btn btn-success text-right pull-right" %>
<div id="content">
  <div class="content-inner">


    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          Shipments
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="transport_plans" class="display" style="width: 100%">
                  <thead>
                     <tr>
                      <th>Shipment ID</th>
                      <th>Delivery by Amazon</th>
                      <th>Shipment Type</th>
                      <th>Carrier</th>
                      <th>Status</th>
                      <th>Amazon Estimate</th>
                      <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                    <% @transport_plans.each do |plan| %>
                      <tr>
                        <td><%= plan.id %></td>
                        <td><%= plan.delivery_by_amazon %></td>
                        <td><%= plan.full_shipment_type %></td>
                        <td><%= plan.carrier %></td>
                        <td><%= plan.status.presence || "N/A" %></td>
                        <td><%= plan.amazon_estimate.presence || "N/A" %></td>
                        <td>
                          <% if plan.status == "Confirmed" %>

                          <% elsif plan.uploaded_to_amazon and plan.amazon_estimate.present? %>
                            <%= link_to "Confirm Shipment", confirm_shipment_transport_plan_path(plan), method: :post, class: "btn btn-xs btn-info" %>
                          <% elsif plan.uploaded_to_amazon %>
                            <%= link_to "Get Estimate", get_estimates_transport_plan_path(plan), class: "btn btn-xs btn-success" %>
                          <% else %>
                            <%= link_to "Upload to Amazon", upload_to_amazon_transport_plan_path(plan.inbound_shipment.id), method: :post, class: "btn btn-xs btn-warning" %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                  <tfoot>

                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
