<p id="notice"><%= notice %></p>

<h1>Mws Report Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mws_report_requests.each do |mws_report_request| %>
      <tr>
        <td><%= link_to 'Show', mws_report_request %></td>
        <td><%= link_to 'Edit', edit_mws_report_request_path(mws_report_request) %></td>
        <td><%= link_to 'Destroy', mws_report_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mws Report Request', new_mws_report_request_path %>
