<style type="text/css">
.modal-dialog {
    margin: 80px auto;
  }
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
    

    th input {
        width: 90%;
        min-width: 50px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal-backdrop
    {
      display: none;
    }

    tfoot {
      display: table-header-group;
    }
</style>
<% unless !@name || @name.blank? %>
  <style type="text/css">
    .boldspan{ 
      font-weight: bolder;
      font-size: 18px;
    }
  </style>
<% end %>
<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          <b><%= @vendor.name %></b>
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datable_po" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th></th>
                      <th >ID</th>
                      <th >Create At</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >SKU Status</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                     </tr>
                     <tr id="filterrow">
                      <th></th>
                      <th >ID</th>
                      <th >Create At</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >SKU Status</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end content inner -->
</div><!-- end content -->
<%= javascript_tag do %>
  window.vendor_id = "<%= @vendor.id %>";
<% end %>
<%= render partial: "layouts/partials/multifilter" %>
 
