<%= form_for(warehouse_vendor) do |f| %>
  <% if warehouse_vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(warehouse_vendor.errors.count, "error") %> prohibited this warehouse_vendor from being saved:</h2>

      <ul>
      <% warehouse_vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-feedback">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'form-control', autofocus: true %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :supplier_code %><br />
    <%= f.text_field :supplier_code, :class => 'form-control'  %>
  </div>
  <div class="form-group has-feedback">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.where(:role_id => 3).order(:first_name),:id,:full_name, {}, :class => 'form-control chosen-select input-md' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
