<% content_for :page_scripts do %>
  <script>
    $(document).ready(function(){
      initEditor();
    });
  </script>
<% end %>
<div id="content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="myhover btn-add-vendor">
        <p id="notice"><%= notice %></p>

        <h1>Warehouse Vendors</h1>
				<%= link_to new_warehouse_vendor_path,:class => "btn btn-xs btn-primary pull-left btn-circle"  do %>
					<i class="fa fa-plus-circle"></i>
				<% end %>
			</div>
		</div>
    <div class="panel-body">
      <div class="row pv-lg">
        <div class="col-lg-12">
          <div class="table-responsive" >
            <table class="table" id="dataable_warehouse_vendor">
              <thead>
                <tr>
                  <th>Warehouse</th>
                  <th>Code</th>
                  <th>Day of Shipping</th>
                  <th>Minimum Order</th>
                  <th>Buyer</th>
                  <th>Vendor Phone</th>
                  <th>Account #</th>
                  <th>Account Holder</th>
                  <th>Contact Name</th>
                  <th>Contact Email</th>
                  <th>Contact Phone</th>
                  <th>Website</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Payment Terms</th>
                  <th>Shipment Terms</th>
                  <th>Catalog</th>
                </tr>
                <tr id="filterrow" class="datatable_filter_header">
                  <th>Warehouse</th>
                  <th>Code</th>
                  <th>Day of Shipping</th>
                  <th>Minimum Order</th>
                  <th>Buyer</th>
                  <th>Vendor Phone</th>
                  <th>Account #</th>
                  <th>Account Holder</th>
                  <th>Contact Name</th>
                  <th>Contact Email</th>
                  <th>Contact Phone</th>
                  <th>Website</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Payment Terms</th>
                  <th>Shipment Terms</th>
                  <th>Catalog</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot></tfoot>
              
            </table>
          </div>
        </div>
      </div>
    </div>
	</div>
</div><!-- end content -->
<%= render partial: "layouts/partials/useroption" %>



