<div id="content">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="myhover btn-add-vendor">
                <p id="notice"><%= notice %></p>
			</div>
		</div>
        <div class="panel-body" style="max-width:400px;">
            <h1>New Warehouse Vendor</h1>
            <%= render 'form', warehouse_vendor: @warehouse_vendor %>
            <%= link_to 'Back', warehouse_vendors_path %>
        </div>
	</div>
</div><!-- end content -->
