<div class="subscription_plan">
    <div id="pricing-table" class="clear">     
        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" >
            <% flash.each do |key, value| %>
               <% if key=="coupon_error" %>
                  <div style="font-size:30px;color:red">
                        <%= value %>
                  </div>
                <% end %>
            <% end %>
            <%= form_tag('/stripe_charge_check',{method: :post, autocomplete: :"off"})  do  %>
                <div class="plan">
                    <%= hidden_field_tag "plan_id", "Enterprise" %>
                    <%= hidden_field_tag "amount", 3900 %>
                    <%= hidden_field_tag "charge", 1 %>
                    <p>
                    </p>
                    <h3><%= 'Enterprise' %><span>$<%= 39 %></span></h3>
                    <ul>
                        <li>Daily Vendor Suggestions</li>
                        <li>Analysis up to 100k Sku Catalogs Daily</li>
                        <li>Membership rates for Prep and Pack</li>
                    </ul>
                    <div class= "buttons">
                        <!-- <button type="submit" class="pay-btn"><span>Choose Plan</span></button> -->
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button paybtn"
                            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                            data-description="A month's subscription"
                            data-amount=<%= 3900 %>
                            data-locale="auto">
                        </script>
                    </div>
                </div>
            <% end %>
        </div>  
  </div>

</div>

 <script>
    
    /*var buttons = document.getElementsByClassName("stripe-button-el");
    for (var i=0; i < buttons.length; i++){
      document.getElementsByClassName("stripe-button-el")[i].children[0].innerText = 'Start Free Trail';  
      document.getElementsByClassName("stripe-button-el")[i].addEventListener("click", onClickTrialButton);
    }
    
    function onClickTrialButton(){

      var iframe = document.getElementsByTagName("iframe");
      console.log(iframe);
      var iframeDoc = (iframe[0].contentDocument) ? iframe[0].contentDocument : iframe[0].contentWindow.document;
      iframeDoc.getElementsByClassName("Button-content")[0].children[0].innerText="Start Free Trial";
      iframeDoc.getElementsByClassName("Button-content")[0].children[0].children[0].children[0].innerText="";
    }*/
  </script>