<div class="modal-dialog col-6 col-m-11 mymodal" style="margin: auto;">
  <div class="modal-content">
    <div class="centermodal">
      <div class="">        
        <div class="text-center">
          <p class="modal-title">Welcome from Steven Rozen, FBA Support's CEO</p>
        </div>        
      </div>
      <hr>
      <div class="modal-body">
        <p>
          Unfortuantely, Your trial has expired. Please upgrade your  <%= link_to('subscription', plans_path)  %> , or feel free to <a href="https://calendly.com/fba-steve" style="text-decoration: underline">schedule a chat</a> to ask any questions.
        </p>
      </div>
    </div>
  </div>
</div>