<div class="modal-dialog col-6 col-m-11 mymodal">
  <div class="modal-content">
    <div class="centermodal">
      <div class="">        
        <div class="text-center">
          <img src="/images/coach/cto.png" class="rounded">
          <p class="modal-title">Welcome from Steven Rozen, FBA Support's CEO </p>
        </div>        
      </div>
      <hr>
      <div class="modal-body">
        <p><b>Thanks - your account's ready to go!</b></p>
        <p>
          Our goal with FBA.support is to eliminate tedious tasks that take up long hours. We have perfected the model for reselling wholesale on Amazon USA. Dig in and explore!<br>
          If you ever need a hand, a vendor, or even some tips on how to start sales with FBA.support please contact me directly at <a href="mailto:>steven@fba.support" target="_blank"><span style="color:blue">steven@fba.support</span></a>
        </p>
        <p>Thanks again and all the best</p>
        <br>
        <p class="sign"><i>Steven</i></p>
        <br>
        <a href="<%= new_skynet_path %>" class="btn btn-lg btn-info pull-right gobtn">OK! Let's see my account -></a>
      </div>
    </div>
  </div>
</div>