<p id="notice"><%= notice %></p>

<h1>User Market Places</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_market_places.each do |user_market_place| %>
      <tr>
        <td><%= link_to 'Show', user_market_place %></td>
        <td><%= link_to 'Edit', edit_user_market_place_path(user_market_place) %></td>
        <td><%= link_to 'Destroy', user_market_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Market Place', new_user_market_place_path %>
