<%= form_for(customer_invoice) do |f| %>
  <% if customer_invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_invoice.errors.count, "error") %> prohibited this customer_invoice from being saved:</h2>

      <ul>
      <% customer_invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
