<style>
 .invoice_header{
    background-color: #F5F5F5;
 }
 .div_one{
    height:25px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block; */
    padding-right: 30px;
  }
  
  .div_two{
    height:25px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block;*/
  }

  .border_td{
    border-bottom:1px solid #E0E0E0;
  }
 /* table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}*/
    thead { display: table-header-group; } tfoot { display: table-row-group; } tr { page-break-inside: avoid; }
</style>
<div class="invoice_header" style="border-top: 25px solid red;padding-top:25px;height:250px;background-color: #F5F5F5;">
    <img src="<%= @logo %>" style="position:absolute;width:80px;height:50px;margin-top:10px;margin-left:20px;" />
    <div style="position:absolute;left:120px">
        <h4>Daily Distro</h4>
        <div>7001 Anpesil Dr suite C5</div>
        <div>North Bergen, NJ 07047</div>
        <div>(347) 586-0271</div>
    </div>
    <div style="position:absolute;right:100px;top:80px;">
        <h4>INVOICE</h4>
        <div class="border_td" style="width:100px;text-align:center;margin-top:10px;"><%= @customer_invoice.created_at.strftime("%B %d, %Y") %> </div>
        <div class="border_td" style="width:100px;text-align:center;margin-top:10px;"><%= @customer_invoice.invoice_name %></div>
    </div>
</div>
<div class="payment-info" style="height:200px;margin-top:50px;">
    <div style="text-align:right">Payment: Paid by </div>
    <div style="margin-top:25px;">
        <div class="div_one">
            <div style="border-bottom-style:solid;border-bottom-width:1px;"><strong>BILL TO</strong></div>
        </div>
        <div class="div_two">
            <div style="border-bottom-style:solid;border-bottom-width:1px;"><strong>SHIP TO</strong></div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ><%= @customer_invoice&.user&.full_name %></div>
        </div>
        <div class="div_two">
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
            <div >Amazon</div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
            <div >Amazon Hazelton AVP1</div>
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div ></div>
        </div>
        <div class="div_two">
        </div>
    </div>
    <div style="margin-top:5px">
        <div class="div_one">
            <div style="text-decoration:underline;color:blue"></div>
        </div>
        <div class="div_two">
        </div>
    </div>
</div>

<div class="item-information " style="margin-top:40px">
    <table width="100%" class="table table-striped table-bordered" style="table-layout: fixed;">
        <thead>
            <tr >
                <th style="color:white;background-color:red;text-align:center" width="50%">DESCRIPTION</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">Ordered</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">Confirmed</th>
                <th style="color:white;background-color:red;text-align:center" width="16%">UNIT PRICE</th>
                <th style="color:white;background-color:red;text-align:center" width="12%">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <% subtotal = 0 %>
            <% @pending_pos.each do |po| %>
                <% subtotal = subtotal + po.confirmed_cost %>
                <tr>
                    <td width="60%"><%= po.vendoritem.vendorasin.name %> </td>
                    <td style="text-align:center" width="20%"><%= po.order_quantity %></td>
                    <td style="text-align:center" width="20%"><%= po.confirmed_qty %></td>
                    <td style="text-align:right" width="20%"><%= number_to_currency(po.cost) %></td>
                    <td style="text-align:right" width="20%"><%= number_to_currency(po.confirmed_cost) %></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align:center" colspan="2">WareHouseFee</td>
                    <td style="text-align:right" colspan="2"><%= number_to_currency(po.cost) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <table  width="100%" style="table-layout: fixed;">
        <tbody>
            <tr>
                <td style="text-align:center" width="60%"><strong>Remarks / Payment Instructions: Credit Card</strong></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">SUBTOTAL</td>
                <td class="border_td" style="text-align:right"width="20%"><%= subtotal %></td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">DISCOUNT</td>
                <td class="border_td" style="text-align:right" width="20%">0.00</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">SUBTOTAL LESS DISCOUNT</td>
                <td class="border_td" style="text-align:right" width="20%"><%= subtotal %></td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">TAX RATE</td>
                <td class="border_td" style="text-align:right" width="20%">0.00%</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right" width="20%">TOTAL TAX</td>
                <td class="border_td" style="text-align:right" width="20%">0.0</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="border-bottom:3px solid black;text-align:right" width="20%">SHIPPING/HANDLING</td>
                <td style="border-bottom:3px solid black;text-align:right" width="20%">0.00</td>
            </tr>
            <tr>
                <td width="60%"></td>
                <td width="20%"></td>
                <td style="text-align:right;pdding:3px;font-size:20px;" width="20%"><strong>Balance Due</strong></td>
                <td  style="text-align:right;border-bottom:3px solid black;background-color:##F5CBCB;pdding:3px;font-size:20px;" width="20%"><strong> <%= number_to_currency(subtotal) %><strong></td>
            </tr>
        </tbody>
    </table>
</div>

