<p id="notice"><%= notice %></p>

<h1>Customer Invoices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_invoices.each do |customer_invoice| %>
      <tr>
        <td><%= link_to 'Show', customer_invoice %></td>
        <td><%= link_to 'Edit', edit_customer_invoice_path(customer_invoice) %></td>
        <td><%= link_to 'Destroy', customer_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer Invoice', new_customer_invoice_path %>
