<%= form_for(seller_sku) do |f| %>
  <% if seller_sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seller_sku.errors.count, "error") %> prohibited this seller_sku from being saved:</h2>

      <ul>
      <% seller_sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
