<style type="text/css">
.modal-dialog {
    margin: 80px auto;
  }
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }


    th input {
        width: 90%;
        min-width: 50px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal-backdrop
    {
      display: none;
    }

    tfoot {
      display: table-header-group;
    }
</style>
<% unless !@name || @name.blank? %>
  <style type="text/css">
    .boldspan{
      font-weight: bolder;
      font-size: 18px;
    }
  </style>
<% end %>
<div class="row">
</div>
<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">


                <table id="datable_sellersku" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th style="min-width:100px">SKU</th>
                      <th >ASIN</th>
                      <th >Price</th>
                      <th>BBS</th>
                      <th >ItemQuantity</th>
                      <th >InboundQuantity</th>
                      <th >ReservedQuantity</th>
                      <th >Last 1 Day Sales</th>
                      <th >Last 30 Day Sales</th>
                      <th >Last 60 Day Sales</th>
                      <th >Last 90 Day Sales</th>
                      <th >Last 360 Day Sales</th>
                      <th >In Stock in last 30 days</th>
                      <th >Sales Velocity</th>
                      <th >Amount Already in PO</th>
                      <th >ReOrder</th>

                     </tr>
                     <tr id="seller_sku_filterrow">
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th style="min-width:100px">SKU</th>
                      <th >ASIN</th>
                      <th >Price</th>
                      <th>BBS</th>
                      <th >ItemQuantity</th>
                      <th >InboundQuantity</th>
                      <th >ReservedQuantity</th>
                      <th >Last 1 Day Sales</th>
                      <th >Last 30 Day Sales</th>
                      <th >Last 60 Day Sales</th>
                      <th >Last 90 Day Sales</th>
                      <th >Last 360 Day Sales</th>
                      <th ></th>
                      <th ></th>
                      <th ></th>
                      <th ></th>

                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>

                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/multifilter" %>

