/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require wraith/bootstrap/_bootstrap
 */

 .invoice_header{
    background-color: grey;
 }
 .div_one{
    height:20px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block; */
    padding-right: 30px;
  }

  .div_two{
    height:20px; /*50 for other way */
    width:50%; /*100 for other way */
    float:left; /*or display:inline-block;*/
  }
