/* // Place all the styles related to the InboundShipments controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/ */
.clear20 {
  clear: both;
  padding-bottom: 20px;
}
.tracking-remove-btn {
  margin-top: 25px;
}
.shipment-show {
  padding: 35px 15px;
}
.package-wrapper {
  border: 1px solid;
  border-style: dashed;
}
.clear500 {
  clear: both;
  padding-bottom: 110px;
}
#packages-section .fields {
  width: 95%;
}
.modal-backdrop  {
  display: none;
}