// Place all the styles related to the Po controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/




.content_page{
    text-align: center;
}
.content_page .title{
    height: 10mm;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .column_shipment{
     color: white;
     background-color: #5d9cec;
 }

 .column_shipplan{
     color: white;
    background-color: #24b145;
}

#2dBarcodeTable_wrapper td {
  text-align: center;
}
