// Place all the styles related to the Po controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/


div.DTED_Lightbox_Wrapper{
	z-index: 900 !important;
}

div.DTED_Lightbox_Background{
	display: none !important;
}

.dataTables_wrapper .dt-buttons{
	margin-left: 100px;
}

.dataTable .abbr_cell {
  max-width: 250px;
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}