// Place all the styles related to the skynets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// --- Upload
//= require blueimp-file-upload/css/jquery.fileupload

//= require loaders.css/loaders.css





div.DTED_Lightbox_Wrapper{
	z-index: 900 !important;
}

div.DTED_Lightbox_Background{
	display: none !important;
}

.dataTables_wrapper .dt-buttons{
	margin-left: 80px;
}

.dataTable .abbr_cell {
  max-width: 250px;
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;

}

table.dataTable {
  /*table-layout: fixed*/
}


@media screen and (max-width: 375px) {
  .top-step-style .box-style{
          margin: 10px 15px;
  }
  .top-step-style .divider::after{
 	 display:none !important;
  }
  .csv_heading{
  font-size:14px;
  }
  .parameters-section .csv-btn-finish{
  padding:5px 30% !important;
  }
}

.dataTables_filter .form-control{
	padding:10px !important;
}