//= require select2/dist/css/select2.css
//= require select2-bootstrap-theme/dist/select2-bootstrap.css
.clear20 {
  clear: both;
  padding-bottom: 20px;
}
.tracking-remove-btn {
  margin-top: 25px;
}
#packages-section {
  margin-top: 70px;
}
.shipment-show {
  padding: 30px 60px;
}

.remove-asin-btn {
  margin-top: 25px;
  text-align: right;
  float: right;
}
