<hr>
<div class="clear20"></div>
<div class="col-md-6">
  <h3><strong>Customer:</strong><%= @inbound_shipment.user.full_name %></h3>
</div>
<div class="col-md-6">
  <h3><strong>Email:</strong> <%= @inbound_shipment.user.email %></h3>
</div>
<div class="col-md-6">
  <h3><strong>Seller ID:</strong> <%= @inbound_shipment.user.seller_id %></h3>
</div>


<div class="clear20"></div>
<hr>
<% if @inbound_shipment.inbound_shipment_items.present? %>
  <div class="col-md-12">
    <h3>Shipment Items</h3>
  </div>
  <div class="col-md-12">
    <table class="display">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Seller SKU</th>
          <th scope="col">Quantity Shipped</th>
          <th scope="col">Quantity Recieved</th>
          <th scope="col">Quantity In Case</th>
        </tr>
      </thead>
      <tbody>
        <% @inbound_shipment.inbound_shipment_items.each_with_index do |item, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= item.seller_sku %></td>
            <td><%= item.quantity_shipped %></td>
            <td><%= item.quantity_received %></td>
            <td><%= item.quantity_in_case %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="clear20"></div>
  <hr>
<% end %>
