<hr>    
<h2 class="text-center">Download Links</h2>
<div class="clear20"></div>
<% if @transport_plan.small_package_and_partnered? or @transport_plan.truck_and_partnered? %>
    <div class="col-md-4">
        <div class="">
            <span>BOX LABELS</span>
            <%= link_to "<i class='fa fa-archive'></i> Download Box Labels".html_safe, print_box_labels_transport_plans_path(id: @transport_plan.id), class: "btn btn-success btn-md" %>
        </div>
    </div>
<% end %>

<% if @transport_plan.truck_and_partnered? %>
    <div class="col-md-4">
        <div class="">
            <span>PALLETE LABELS</span>
            <%= link_to "<i class='fa fa-tags'></i> Download Pallete Labels".html_safe, print_pallete_labels_transport_plans_path(id: @transport_plan.id), class: "btn btn-success btn-md" %>
        </div>
    </div>
<% end %>
<% if @transport_plan.bill_of_lading_enabled %>
    <div class="col-md-4">
        <span>BILL OF LADING</span>
        <%= link_to "<i class='fa fa-tags'></i> Download Bill of Lading".html_safe, print_bill_of_lading_transport_plans_path(id: @transport_plan.id), class: "btn btn-success btn-md" %>
    </div>
<% end %>
<% if @transport_plan.truck_and_not_partnered? %>
    <% if @transport_plan and !(@transport_plan.truck_and_partnered?) %>
        <div class="col-md-6">
        <%= form_for :pallete_labels, url: print_pallete_labels_transport_plans_path, method: :get do |f| %>
            <%= hidden_field_tag :id, @transport_plan.id %>
            <div class="col-md-3 col-xs-3 col-sm-3">
            <h4>Pallete Labels</h4> 
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2">
            <%= f.number_field :pallete_count, value: (@transport_plan.pallete_count > 0 ? @transport_plan.pallete_count : 1), class: "form-control", min: 0 %>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
            <%= button_tag "<i class='fa fa-tags'></i> Download Pallete Labels".html_safe, class: "btn btn-success " %>
            </div>
        <% end %>
        </div>
    <% end %>
<% end %>