<div class="modal fade" id="edit_box_information_pop_up" tabindex="1" role="dialog" aria-labelledby="shipmentModal" aria-hidden="true">
    <div class="modal-dialog"  >
        <div class="modal-content">
            <div class="modal-header">
                <h4>Box information</h4>
            </div>
            <div class="modal-body" style="padding: 20px;">
                <div class="row">
                    <%= form_for @transport_plan, url: update_box_information_transport_plan_path(@transport_plan.id), method: :post do |f| %>
                        <div class="col-md-6">
                            <%= f.label "Box Count" %>
                            <%= f.text_field :box_count, class: "form-control" %>
                        </div>
                        <div class="col-md-6">
                            <%= f.label "Frieght Ready Date" %>
                            <%= f.text_field :frieght_read_date, class: "form-control frieght-date-field" %>
                        </div>
                        <div class="clear20"></div>
                        <div class="col-md-4">
                            <%= f.submit "Save", class: "btn btn-success btn-lg" %>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>
