<%= form_for(inbound_shipment) do |f| %>
  <% if inbound_shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inbound_shipment.errors.count, "error") %> prohibited this inbound_shipment from being saved:</h2>

      <ul>
      <% inbound_shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
