
<div class="col-md-3">
  <span><strong>ID:</strong> <%= @inbound_shipment.shipment_id %></span>
</div>
<div class="col-md-3">
  <span><strong>Postal Code:</strong><%= @inbound_shipment.postal_code.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Name:</strong> <%= @inbound_shipment.name.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Country Code:</strong> <%= @inbound_shipment.country_code.presence || "N/A" %></span>
</div>
<div class="clear20"></div>
<div class="col-md-3">
  <span><strong>State/Province Code:</strong> <%= @inbound_shipment.state_or_province_code.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Address 1:</strong> <%= @inbound_shipment.address_line1.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Address 2:</strong> <%= @inbound_shipment.address_line2.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>City:</strong> <%= @inbound_shipment.city.presence || "N/A" %></span>
</div>
<div class="clear20"></div>
<div class="col-md-3">
  <span><strong>Shipment Name:</strong> <%= @inbound_shipment.shipment_name.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Destination Center:</strong> <%= @inbound_shipment.destination_fulfillment_center_id.presence || "N/A" %></span>
</div>
<div class="col-md-3">
  <span><strong>Label Prep type:</strong> <%= @inbound_shipment.label_prep_type.presence || "N/A" %></span>
</div>
<div class="clear20">

</div>
<% if @inbound_shipment.try(:ship_cus_invoice).try(:new_box_count).to_i > 0 %>
  <div class="col-md-6">
    <u><span><strong>WAREHOUSE TOTAL :</strong> (<%= "(#{ @inbound_shipment.ship_cus_invoice.new_box_count} NEW BOXES) x $2 " %>) = <strong><%= number_to_currency(@inbound_shipment.ship_cus_invoice.new_box_total) %></strong></span></u>
  </div>
<% end %>
<% if @inbound_shipment.total_pallete_count > 0 %>
  <div class="col-md-6">
    <u><span><strong>PALLETE CHARGES:</strong> (<%= "(#{ @inbound_shipment.total_pallete_count} PALLETES) x $15 " %>) = <strong><%= number_to_currency(@inbound_shipment.pallete_charges) %></strong></span></u>
  </div>
<% end %>
<div class="clear20">

</div>
<% if (@inbound_shipment.mix_label_charges / 0.22).to_i > 0 %>
  <div class="col-md-6">
    <u><span><strong>MIX 2D LABEL CHARGES:</strong> (<%= "(#{ (@inbound_shipment.mix_label_charges / 0.22).to_i} LABELS) x $.022 " %>) =  <strong><%= number_to_currency(@inbound_shipment.mix_label_charges) %></strong></span></u>
  </div>
<% end %>
<div class="clear20">

</div>
<hr>
