<h2 class="text-center">Please Input Invoice Details</h2>
<%= form_for inbound_shipment, url: add_invoice_inbound_shipment_path(inbound_shipment), method: :post do |f| %>
  <% if inbound_shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inbound_shipment.errors.count, "error") %> prohibited this inbound_shipment from being saved:</h2>

      <ul>
      <% inbound_shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.fields_for :ship_cus_invoice do |j| %>
    <div class="form-group has-feedback">
      <%= j.label :invoice_name %>
      <%= j.text_field :invoice_name, class: "form-control required", :style => 'max-width:250px;', required: true %>
    </div>
  <% end %>
  <div class="actions">
    <% if inbound_shipment.invoice_status %>
      <%= f.submit 'Update Invoice', :class =>"btn btn-primary btn-lg" %>
    <% else %>
      <%= f.submit 'Create Invoice', :class =>"btn btn-primary btn-lg" %>
    <% end %>
  </div>
<% end %>
