<h2 class="text-center">Please add transport Details</h2>
<%= nested_form_for @transport_content, url: transport_plans_path, method: :post do |f| %>
  <%= f.hidden_field :inbound_shipment_id, value: @inbound_shipment.id %>
  <div class="row shipment-selects">
    <div class="col-md-6">
      <h4>Shipping Method</h4>
      <% TransportContent::SHIPMENT_TYPE_OPTIONS.each do |option| %>
        <%= f.radio_button :shipment_type, option[1], class: "shipment-type-radio from-control", id: "shipment-#{option[1]}" %>
        <%= f.label (set_text_for_shipment_type option[1]), for: "shipment-#{option[1]}", class: "text-uppercase" %>
        <br>
      <% end %>
    </div>
    <div class="col-md-6">
        <h4>Shipping Carrier</h4>
        <% TransportContent::PARTNER_OPTIONS.each do |option| %>
          <%= f.radio_button :delivery_by_amazon, option[1], class: "partner-radio from-control", id: "shipment-#{option[1]}" %>
          <%= f.label (set_text_for_partner_options option[1]), for: "shipment-#{option[1]}", class: "text-uppercase" %>
          <br>
        <% end %>
      </div>
  </div>

  <div class="row transport-info-section partnered-small-parcel hidden">
    <div class="col-md-6">
      <h4>Partnered Small Parcel</h4>
      <span>Deeply-Discounted shipping with easy trackings</span> <br>
      <%= f.select :carrier, TransportContent::CARRIER_FOR_PARTNERED_SMALL_PARCEL, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
    </div>
    <div class="col-md-6">

    </div>
    <br>
    <div id="packages-section">
      <%= f.fields_for :packages do |j| %>
        <div class="clear20"></div>
        <div class="package-wrapper clear500">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <div class="clear20"></div>
            <%= j.link_to_remove "Remove <i class='fa fa-times'></i>".html_safe, class: "btn btn-danger text-right" %>
          </div>
          <hr>
          <div class="col-md-3">
            <%= j.label "Dimension Unit" %>
            <%= j.select :dimenstion_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control required package-dimension-unit" %>
          </div>
          <div class="col-md-2">
            <%= j.label "Length" %>
            <%= j.text_field :length, class: "form-control required package-length", required: true %>
          </div>
          <div class="col-md-2">
            <%= j.label "Width" %>
            <%= j.text_field :width, class: "form-control required package-width", required: true %>
          </div>
          <div class="col-md-2">
            <%= j.label "Height" %>
            <%= j.text_field :height, class: "form-control required package-height", required: true %>
          </div>
          <div class="clear20"></div>
          <div class="col-md-3">
            <%= j.label "Weight Unit" %>
            <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control package-weight-unit" %>
          </div>
          <div class="col-md-2">
            <%= j.label "Weight" %>
            <%= j.text_field :weight, class: "form-control required package-weight", required: true %>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-2">
            <span class="form-control clone-package btn btn-warning">Clone This</span>
          </div>
        </div>
      <% end %>
      <div class="clear20"></div>
    </div>
    <div class="clear20"></div>
    <%= f.link_to_add "Add More Package", :packages, "data-target" => "#packages-section", class: "btn btn-info" %>
    <div class="clear20"></div>
  </div>
  <div class="row transport-info-section non-partnered-small-parcel hidden">
    <h4>Non Partnered Small Parcel</h4>
    <div class="col-md-3">
      <span>I will deliver on my own</span> <br>
      <%= f.select :carrier, TransportContent::CARRIER_FOR_NON_PARTNERED_SMALL_PARCEL, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
    </div>
    <div class="" id="trackings-section">
      <%= f.fields_for :trackings do |j| %>
        <div class="clear20">

        </div>
        <div class="col-md-4">
          <%= j.label "Tracking ID" %>
          <%= j.text_field :tracking_number, class: "form-control required", required: true %>
        </div>
        <div class="col-md-4">
          <%= j.link_to_remove "Remove", class: "btn btn-danger text-right tracking-remove-btn" %>
        </div>
      <% end %>
    </div>
    <div class="clear20">

    </div>
    <%= f.link_to_add "Add More Trackings", :trackings, "data-target" => "#trackings-section", class: "btn btn-info" %>
  </div>


  <div class="row transport-info-section partnered-ltl-parcel hidden">
    <h4>Partnered LTL Parcel</h4>
    <h5>Box Informtion</h5>
    <div class="col-md-6">
      <%= f.label "Box Count" %>
      <%= f.number_field :box_count, class: "form-control required" %>
    </div>
    <div class="col-md-6">
      <%= f.label "Freight Read Date" %>
      <%= f.text_field :frieght_read_date, class: "form-control frieght-date-field" %>
    </div>
    <div class="col-md-4">
      <%= f.label "Freight Class" %>
      <%= f.text_field :frieght_class, class: "form-control" %>
    </div>
    <div class="clear20"></div>

    <div class="clear20">

    </div>
    <h5>Contact Information</h5>
    <div class="col-md-4">
      <%= f.label "Name" %>
      <%= f.text_field :name, class: "form-control required" %>
    </div>
    <div class="col-md-4">
      <%= f.label "Phone" %>
      <%= f.text_field :phone, class: "form-control required" %>
    </div>
    <div class="col-md-4">
      <%= f.label "Email" %>
      <%= f.text_field :email, class: "form-control required" %>
    </div>
    <div class="col-md-4">
      <%= f.label "Fax" %>
      <%= f.text_field :fax, class: "form-control required" %>
    </div>
    <div id="palletes-section">
      <%= f.fields_for :palletes do |j| %>
        <div class="package-wrapper clear500">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <div class="clear20"></div>
            <%= j.link_to_remove "Remove <i class='fa fa-times'></i>".html_safe, class: "btn btn-danger text-right" %>
          </div>
          <hr>
          <div class="col-md-3">
            <%= j.label "Dimension Unit" %>
            <%= j.select :dimension_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= j.label "Length" %>
            <%= j.text_field :length, class: "form-control required", required: true %>
          </div>
          <div class="col-md-2">
            <%= j.label "Width" %>
            <%= j.text_field :width, class: "form-control required", required: true %>
          </div>
          <div class="col-md-2">
            <%= j.label "Height" %>
            <%= j.text_field :height, class: "form-control required", required: true %>
          </div>
          <div class="clear20"></div>
          <div class="col-md-3">
            <%= j.label "Weight Unit" %>
            <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= j.label "Weight" %>
            <%= j.text_field :weight, class: "form-control required", required: true %>
          </div>
        </div>
      <% end %>
      <div class="clear20"></div>
    </div>
    <div class="clear20"></div>
    <%= f.link_to_add "Add More Palletes", :palletes, "data-target" => "#palletes-section", class: "btn btn-info" %>

  </div>

  <div class="row transport-info-section non-partnered-ltl-parcel hidden">
    <h4>Non Partnered LTL Parcel</h4>
    <div class="col-md-3">
      <%= f.label "Delivery Partner" %>
      <%= f.select :carrier, TransportContent::CARRIER_FOR_NON_PARTNERED_LTL_PACKAGE, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label "PRO number" %>
      <%= f.text_field :pro_number, class: "form-control" %>
    </div>
  </div>
  <div class="clear20">

  </div>
  <%= f.submit :Submit, class: "btn btn-success submit-btn hidden" %>
<% end %>
