<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Transport Plan</h3>
    <div class="col-md-3">
      <span><strong>Partnered Delivery:</strong> <i class="fa fa-<%= class_by_partner @transport_plan.delivery_by_amazon %>"></i></span>
    </div>
    <div class="col-md-3">
      <span><strong>Shipment Type:</strong> <%= @transport_plan.full_shipment_type %></span>
    </div>
    <div class="col-md-3">
      <span><strong>Carrier:</strong> <%= @transport_plan.carrier %></span>
    </div>
    <div class="col-md-3">
      <span><strong>Shipment Status:</strong> <%= @inbound_shipment.shipment_status %></span>
    </div>
    <div class="clear20"></div>
    <div class="col-md-3">
      <span><strong>Transport Status:</strong> <%= @transport_plan.status %></span>
    </div>
    <div class="col-md-3">
      <span class="text-success"><strong>Estimate:</strong> <%= number_to_currency(@transport_plan.amazon_estimate).presence || "N/A" %></span>
    </div>
    
  </div>
  <div class="clear20"></div>
  <hr>
  <div class="shipment-show">
    <h3 class="">Transport Details</h3>
    <hr>
    <%= nested_form_for @transport_plan, url: add_packages_transport_plan_path(@transport_plan), method: :post do |f| %>
      <% if @transport_plan.small_package_and_partnered? %>
        <%= f.hidden_field :inbound_shipment_id, value: @inbound_shipment.id %>
        <p>Dimensions: </p>
        <hr>
        <% @transport_plan.packages.each_with_index do |package, index| %>
          <h5>Package # <%= index + 1 %></h5> <%= link_to "Remove", remove_package_transport_plans_path(id: package.id), method: :post, class: "btn btn-sm btn-danger" if @transport_plan.packages.count > 1 and @transport_plan.status != "CONFIRMED" %>
          <div class="col-md-3">
            <span><strong>Unit:</strong> <%= package.dimenstion_unit %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Length:</strong> <%= package.length %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Width:</strong> <%= package.width %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Height:</strong> <%= package.height %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Weight Unit:</strong> <%= package.weight_unit %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Weight:</strong> <%= package.weight %></span>
          </div>
          <div class="clear20">

          </div>
        <% end %>
        <% if @inbound_shipment.shipment_status != "SHIPPED" %>
          <div id="packages-section">
            <%= f.fields_for :packages do |j| %>
              <% next if j.object.id %>
              <div class="package-wrapper clear500">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <div class="clear20"></div>
                  <%= j.link_to_remove "Remove <i class='fa fa-times'></i>".html_safe, class: "btn btn-danger text-right" %>
                </div>
                <div class="col-md-3">
                  <%= j.label "Dimension Unit" %>
                  <%= j.select :dimenstion_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control required package-dimension-unit", required: true %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Length" %>
                  <%= j.text_field :length, class: "form-control required package-length", required: true %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Width" %>
                  <%= j.text_field :width, class: "form-control required package-width", required: true %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Height" %>
                  <%= j.text_field :height, class: "form-control required package-height", required: true %>
                </div>
                <div class="clear20"></div>
                <div class="col-md-3">
                  <%= j.label "Weight Unit" %>
                  <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control required package-weight-unit", required: true %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Weight" %>
                  <%= j.text_field :weight, class: "form-control required package-weight", required: true %>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                  <span class="clone-package btn btn-warning form-control">Clone This</span>
                </div>
              </div>
            <% end %>
          </div>
          <div class="clear20"></div>
          <div class="text-center">
            <%= f.link_to_add "Add More Package", :packages, "data-target" => "#packages-section", class: "btn btn-info show-submit-btn", align: "center" unless @transport_plan.status == "CONFIRMED" %>
          </div>
        <% end %>
      <% elsif @transport_plan.small_package_and_not_partnered? %>
        <% if @transport_plan.box_count.to_i > 0 %>
          <h5>Total Boxes for this Plan: <%= @transport_plan.box_count %> </h5>
        <% end %>
        <h4>Trackings: </h4>
        <% @transport_plan.trackings.each_with_index do |tracking, index| %>

          <h5>Tracking # <%= index + 1 %></h5>
          <span><strong>Tracking Number:</strong> <%= tracking.tracking_number %></span> <%= link_to "Remove", remove_tracking_transport_plans_path(id: tracking.id), method: :post, class: "btn btn-sm btn-danger" if @transport_plan.trackings.count > 1 and @transport_plan.status != "CONFIRMED" %>
          <hr>
        <% end %>
        <% if @inbound_shipment.shipment_status != "SHIPPED" %>
          <div id="trackings-section">
            <%= f.fields_for :trackings do |j| %>
              <% next if j.object.id %>
              <div class="clear20">

              </div>
              <div class="col-md-4">
                <%= j.label "Tracking ID" %>
                <%= j.text_field :tracking_number, class: "form-control required", required: true %>
              </div>
              <div class="col-md-4">
                <%= j.link_to_remove "Remove", class: "btn btn-danger text-right tracking-remove-btn" %>
              </div>
            <% end %>
          </div>
          <div class="clear20">

          </div>
          <%= f.link_to_add "Add More Trackings", :trackings, "data-target" => "#trackings-section", class: "btn btn-info show-submit-btn" unless @transport_plan.status == "CONFIRMED" %>
        <% end %>
      <% elsif @transport_plan.truck_and_partnered? %>
        <div class="col-md-3">
          <span><strong>Name:</strong> <%= @transport_plan.name %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Phone:</strong> <%= @transport_plan.phone %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Email:</strong> <%= @transport_plan.email %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Fax:</strong> <%= @transport_plan.fax %></span>
        </div>
        <div class="col-md-3">
          <span><strong>Box Count:</strong> <%= @transport_plan.box_count %>
            <% unless @transport_plan.status == "CONFIRMED" %>
              <a data-toggle="modal" data-target="#edit_box_information_pop_up" style="cursor: pointer;">Change Box count</a>
            <% end %>
           </span>
        </div>

        <div class="col-md-3">
          <span><strong>Frieght Ready Date:</strong> <%= @transport_plan.frieght_read_date %></span>
        </div>
        <div class="clear20">

        </div>
        <h3>Palletes Information</h3>
        <% @transport_plan.palletes.skip_dummy.each_with_index do |pallete, index| %>
          <hr>
          <h5>Pallete # <%= index + 1 %></h5> <%= link_to "Remove", remove_pallete_transport_plans_path(id: pallete.id), method: :post, class: "btn btn-sm btn-danger" if @transport_plan.palletes.skip_dummy.count > 1 and @transport_plan.status != "CONFIRMED" %>
          <div class="col-md-3">
            <span><strong>Dimension Unit:</strong> <%= pallete.dimension_unit %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Height:</strong> <%= pallete.height %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Width:</strong> <%= pallete.width %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Length:</strong> <%= pallete.length %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Weight Unit:</strong> <%= pallete.weight_unit %></span>
          </div>
          <div class="col-md-3">
            <span><strong>Weight:</strong> <%= pallete.weight %></span>
          </div>
          <div class="clear20">

          </div>
        <% end %>
        <hr>

        <% if @inbound_shipment.shipment_status != "SHIPPED" %>
          <div id="palletes-section">
            <%= f.fields_for :palletes do |j| %>
              <% next if j.object.id %>
              <div class="package-wrapper clear500">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <div class="clear20"></div>
                  <%= j.link_to_remove "Remove <i class='fa fa-times'></i>".html_safe, class: "btn btn-danger text-right" %>
                </div>
                <hr>
                <div class="col-md-3">
                  <%= j.label "Dimension Unit" %>
                  <%= j.select :dimension_unit, TransportContent::DIMESION_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Length" %>
                  <%= j.text_field :length, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Width" %>
                  <%= j.text_field :width, class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Height" %>
                  <%= j.text_field :height, class: "form-control" %>
                </div>
                <div class="clear20"></div>
                <div class="col-md-3">
                  <%= j.label "Weight Unit" %>
                  <%= j.select :weight_unit, TransportContent::WEIGHT_UNITS, {}, prompt: 'Non Partnered Small Parcel', class: "form-control" %>
                </div>
                <div class="col-md-2">
                  <%= j.label "Weight" %>
                  <%= j.text_field :weight, class: "form-control" %>
                </div>
              </div>
            <% end %>
            <div class="clear20">

            </div>
          </div>
          <div class="clear20"></div>
          <div class="text-center">
            <%= f.link_to_add "Add More Palletes", :palletes, "data-target" => "#palletes-section", class: "btn btn-info show-submit-btn" unless @transport_plan.status == "CONFIRMED" %>
          </div>
        <% end %>
      <% elsif @transport_plan.truck_and_not_partnered? %>
        <h4 class="text-center"><span><strong>Pro Number:</strong> <%= @transport_plan.pro_number %></span></h4>
      <% end %>
      <div class="clear20"></div>
      <%= f.submit "Save", class: "btn btn-lg btn-success hidden submit-button" unless @transport_plan.status == "CONFIRMED" %>


      <div class="text-center">
        <% if @transport_plan.delivery_by_amazon %>
          <% if @transport_plan.status == "WORKING" or @transport_plan.status == "ERROR_ON_ESTIMATING" %>
            <%= link_to "ESTIMATE", initiate_estimate_transport_plans_path(id: @transport_plan.id), method: :post, class: "btn btn-success btn-lg" %>
          <% elsif @transport_plan.status == "ESTIMATING" and @transport_plan.amazon_estimate.blank? %>
              <%= link_to "Reload", estimate_transport_plans_path(id: @transport_plan.id), method: :post, class: "btn btn-warning btn-lg" %>
          <% elsif @transport_plan.status == "ESTIMATED" %>
            <%= link_to "Confirm", initiate_confirmation_transport_plans_path(id: @transport_plan.id), method: :post, class: "btn btn-success btn-lg" %>
          <% elsif @transport_plan.status == "CONFIRMING" %>
            <%= link_to "Reload", confirm_transport_plans_path(id: @transport_plan.id), method: :post, class: "btn btn-warning btn-lg" %>
          <% elsif @transport_plan.status == "CONFIRMED" %>
            <%#= link_to "Reload", new_transport_plan_path(id: shipment.latest_transport_plan.id), class: "btn btn-info btn-lg" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if @transport_plan.truck_and_not_partnered? %>
      <div class="add-extra-charges-section">
        <%= form_for @transport_plan, url: update_shipping_fee_transport_plan_path(@transport_plan.id), method: :post do |f| %>
          <div class="col-md-1">
            <span><strong>Shipping Fee</strong></span>
          </div>
          <div class="col-md-4">
            <%= f.text_field :shipping_fee, class: "form-control", value: @transport_plan.shipping_fee %>
          </div>
          <div class="col-md-2">
            <%= f.submit "Add Shipping fee", class: "btn btn-success"%>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="clear20"></div>
    <hr>
  </div>
</div>
<%= render "edit_box_information_pop_up" %>
