<p id="notice"><%= notice %></p>

<h1>Inbound Shipments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inbound_shipments.each do |inbound_shipment| %>
      <tr>
        <td><%= link_to 'Show', inbound_shipment %></td>
        <td><%= link_to 'Edit', edit_inbound_shipment_path(inbound_shipment) %></td>
        <td><%= link_to 'Destroy', inbound_shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inbound Shipment', new_inbound_shipment_path %>
