<% content_for :page_scripts do %>
  <script>
    var po_list;
    var po_all;
    $(document).ready(function(){
        $('.display').dataTable();
    });
    </script>
<% end %>
<% if @inbound_shipment.shipment_id.present? %>
  <div class="container">
    <div class="col-md-6"><h3>Shipment Information: <%= @inbound_shipment.shipment_id %></h3></div>
    <div class="col-md-6">
      <%= link_to "Mark As Shipped <i class='fa fa-check-square'></i>".html_safe, mark_as_shipped_inbound_shipment_url(@inbound_shipment), class: "btn btn-warning btn-sm" if @transport_plan and @transport_plan.shipable?  %>
      <%= link_to "Void Transport Plan <i class='fa fa-times'></i>".html_safe, void_transport_plan_inbound_shipment_url(@transport_plan.id), class: "btn btn-danger btn-sm" if @transport_plan and @transport_plan.status == "CONFIRMED" and @transport_plan.void_deadline.present? %>
      <%= link_to "Delete Transport Plan <i class='fa fa-times'></i>".html_safe, reset_transport_plan_inbound_shipment_url(@inbound_shipment), class: "btn btn-danger btn-sm" if @inbound_shipment.resetable? %>
      <%= link_to "Sync Plan with Amazon <i class='fa fa-refresh'></i>".html_safe, sync_transport_plan_inbound_shipment_url(@inbound_shipment), class: "btn btn-info btn-sm" %>
    </div>
    <%= render 'customer_information' %>
    <%= render 'shipment_information' %>
    <% if @transport_plan.present? %>
      <%= render "transport_plan_information" %>
      <%= render "shipment_invoice_detail", inbound_shipment: @inbound_shipment %>
      <br>
      <% unless @inbound_shipment.ship_cus_invoice.id.nil? %>
        <%= link_to "Download Invoice", ship_cus_invoice_path(@inbound_shipment.ship_cus_invoice, :format => 'pdf'), class: "btn btn-success btn-lg", target: :_blank  %>
        <%= link_to "Send Invoice", send_invoice_ship_cus_invoice_path(@inbound_shipment.ship_cus_invoice), method: :get, class: "btn btn-primary btn-lg", data: (@inbound_shipment.invoice_sent ? { confirm: "An invoice has already been sent, do you want to send invoice again?" } : nil) %>
        <button type="button" name="button" class="btn btn-success btn-lg" onclick="$('.new-box-section').removeClass('hidden')">Add New Boxes</button>
        <div class="clear20"></div>
        <br>
        <div class="new-box-section hidden">
          <%= form_for @inbound_shipment, url: add_invoice_inbound_shipment_path(@inbound_shipment), method: :post do |f| %>
            <%= f.fields_for :ship_cus_invoice do |j| %>
              <div class="col-md-3">
                <%= j.label :new_boxes %>
                <%= j.text_field :new_box_count, class: "form-control", style: "max-width: 250px;" %>
              </div>
              <%= f.submit "Save", class: "btn btn-success", style: "margin-top: 25px;" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="clear20"></div>
      <%= render 'downloadable_links' %>
    <% else %>
      <%= render "transport_form" %>
    <% end  %>
  </div>
<% else %>
  <h1 class="text-center">Please upload this Shipment to amazon first. Amazon shipment ID missing!</h1>
<% end%>
