<style type="text/css">
.modal-dialog {
    margin: 80px auto;
  }
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
    

    th input {
        width: 90%;
        min-width: 50px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal-backdrop
    {
      display: none;
    }

    tfoot {
      display: table-header-group;
    }
</style>
<% unless !@name || @name.blank? %>
  <style type="text/css">
    .boldspan{ 
      font-weight: bolder;
      font-size: 18px;
    }
  </style>
<% end %>
<div class="row">
  <div class="panel-heading col-lg-12">
    <div class="panel-title col-lg-5">
      Vendor<%= select_tag(:grid_vendor_id, options_from_collection_for_select(current_user.get_vendors.all.where(:inactive => false), :id, :name), :class => 'form-control chosen-select input-md') %>
    </div>
  </div>
</div>
<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          PO
        </div>
        <div class="col-lg-3 wipp">
          <a href="javascript:deletevendoritems()" data-confirm="Are you sure you want to delete?" class="wipeclean pull-right">Wipe Clean<i class="fa fa-trash" style="margin-left: 5px"></i></a>
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datable_po" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                     </tr>
                     <tr id="filterrow">
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          Pending<div id="versionsDiv"><%= render :partial => 'layouts/partials/pendingpos', :object => @versions %></>
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datable_pending_po" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                     </tr>
                     <tr id="filterrow">
                      <th></th>
                      <th >ID</th>
                      <th style="min-width:200px; max-width: 350px;">NAME</th>
                      <th >SKU</th>
                      <th >ASIN</th>
                      <th>VendorSKU</th>
                      <th >UPC</th>
                      <th>Order Quantity</th>
                      <th>Received Quantity</th>
                      <th>Order Cost</th>
                      <th>COST</th>
                      <th>Packcount</th>
                      <th>PackCost</th>
                      <th >BBP</th>
                      <th >SalesRank</th>
                      <th>Profit</th>
                      <th>Margin</th>
                      <th>FBAfee</th>
                      <th>ComPCT</th>
                      <th>ComFee</th>
                      <th>EST</th>
                      <th>OFFER</th>
                      <th>FBA</th>
                      <th>FBM</th>
                      <th>ItemId</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/multifilter" %>
 
<%= javascript_tag do %>
  window.vendor_id = "<%= @vendor_id %>";
<% end %>