<% content_for :page_scripts do %>
  <script>
    var po_list;
    var pending_list;
    $(document).ready(function(){
        if ( $.fn.dataTable.isDataTable( '#datatable_po_list' ) ) {
            po_list = $('#datatable_po_list').dataTable();
            po_list.fnDestroy();
        }
        po_list = $('#datatable_po_list').DataTable({
            'info':     true,  // Bottom left status text
            "iDisplayLength" : 25,
            deferRender: true,
            orderCellsTop: true,  
            sAjaxSource: '/po/listpo',
            aoColumns: [
            
            { mData: 'name' },
            { mData: 'po_order_skus', render: function (data, type, full, meta) {
                    return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
                } },
            { mData: 'po_order_qty' },
            { mData: 'po_order_costs' },
            { mData: 'po_order_profit' },
            
            ],
            rowId: 'id',
            aoColumnDefs: [ 
                { className:"number_cell", "targets":"_all"} 
            ],
            initComplete: function () {
              this.api().columns().every( function (i) {
                if(i==0){
                  var column = this;
                  var select = $('<select><option value=""></option></select>')
                      .appendTo(  $("#datatable_po_list thead tr:eq(1) th").eq(column.index()).empty() )
                      .on( 'change', function () {
                          var val = $(this).val();
  
                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );
  
                  column.data().unique().sort().each( function ( d, j ) {
                      select.append( '<option value="'+d+'">'+d+'</option>' )
                  } );
                }
                  
              } );
            },
            order: [[1, 'asc']]
        });

        $('#datatable_po_list thead tr#filterrow th').each( function (i) {
            if(i!=0){
              var title = $(this).text();
              $(this).html('' );    
            }
            // var title = $(this).text();
            // $(this).html( '<input type="text" onclick="stopPropagation(event);" data-toggle="tooltip" data-placement="top" title="Search '+title+'" data-index="'+i+'" />' );  
        } );

        // Pending PO
        if ( $.fn.dataTable.isDataTable( '#datable_pending_po_list' ) ) {
            pending_list = $('#datable_pending_po_list').dataTable();
            pending_list.fnDestroy();
        }
        pending_list = $('#datable_pending_po_list').DataTable({
            'info':     true,  // Bottom left status text
            "iDisplayLength" : 25,
            deferRender: true,
            orderCellsTop: true,  
            sAjaxSource: '/pending_po_indices/list',
            aoColumns: [
            
            { mData: 'vendor.name' },
            { mData: 'po_name', render: function (data, type, full, meta) {
                    return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
                } },
            { mData: 'created_at',
             },
            { mData: 'sku_count' },
            { mData: 'order_qty' },
            { mData: 'order_e_cost' },
            {mData: 'pending_status'},
            
            ],
            rowId: 'id',
            aoColumnDefs: [ 
                { className:"number_cell", "targets":"_all"} 
            ],
            initComplete: function () {
              this.api().columns().every( function (i) {
                if(i < 3 || i == 6){
                  var column = this;
                  var select = $('<select><option value=""></option></select>')
                      .appendTo(  $("#datable_pending_po_list thead tr:eq(1) th").eq(column.index()).empty() )
                      .on( 'change', function () {
                          var val = $(this).val();
                          column
                              .search( val ? '^'+val+'$' : '', true, false )
                              .draw();
                      } );
  
                  column.data().unique().sort().each( function ( d, j ) {
                      select.append( '<option value="'+d+'">'+d+'</option>' )
                  } );
                }
                  
              } );
            },
            order: [[1, 'asc']]
        });

        $('#datable_pending_po_list thead tr#filterrow th').each( function (i) {
            if(i!=0){
              var title = $(this).text();
              $(this).html('' );    
            }
            // var title = $(this).text();
            // $(this).html( '<input type="text" onclick="stopPropagation(event);" data-toggle="tooltip" data-placement="top" title="Search '+title+'" data-index="'+i+'" />' );  
        } );

        $('#datable_pending_po_list tbody').on('dblclick', 'tr', function () {
          var data = pending_list.row( this ).data();
           $(location).attr('href','/pending_po_indices/'+data.id);
        } );

        $('#datatable_po_list tbody').on('dblclick', 'tr', function () {
          var data = po_list.row( this ).data();
           $(location).attr('href','/pos/'+data.id);
        } );
    });
  </script>
<% end %>
<style type="text/css">
.modal-dialog {
    margin: 80px auto;
  }
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    div.dataTables_wrapper {
        margin: 0 auto;
    }
    

    th input {
        width: 90%;
        min-width: 50px;
    }

    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .modal-backdrop
    {
      display: none;
    }

    tfoot {
      display: table-header-group;
    }
</style>
<% unless !@name || @name.blank? %>
  <style type="text/css">
    .boldspan{ 
      font-weight: bolder;
      font-size: 18px;
    }
  </style>
<% end %>

<div id="content">
  <div class="content-inner">
    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          Upload PO
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
              <label>Upload Vendor file</label>
              <div class="selectfile">
                <%= form_tag('/skynets', multipart: true, id: 'filefeed') do %>
                  <%= hidden_field_tag 'form_type' ,'fileupload' %>
                  <span class="btn btn-success fileinput-button choosespan " style="width: 100%; height: 100%;">
                    <%= file_field_tag 'file_field' , accept: '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row pv-lg">
          <div class="col-lg-12">
            <%= form_tag('/po') do %>
              <%= hidden_field_tag 'file_path' %>
              <%= hidden_field_tag 'file_name' %>
              <%= hidden_field_tag 'restored_filename' %>
              <!-- SKU -->
              <div class="row">
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Identity Type</label>
                  <%= select_tag(:id_type_col,  options_for_select({"ASIN"=>"ASIN", "UPC"=>"UPC"}), :class => 'form-control chosen-select') %>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Identity Column</label>
                  <%= select_tag(:id_col,  options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>SellerSKU</label>
                  <%= select_tag(:seller_sku_col,  options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Buy Qty</label>
                  <%= select_tag(:buy_qty_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Packcount</label>
                  <%= select_tag(:packcount_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Unit Cost</label>
                  <%= select_tag(:cost_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
              </div>
              <!-- end SKU -->
              
              <!-- Vendor -->
              <div class="row">
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Vendor</label>
                  <%= select_tag(:vendor_id_col, options_from_collection_for_select(current_user.get_vendors, :id, :name), :class => 'form-control chosen-select') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Vendor SKU</label>
                  <%= select_tag(:vendor_sku_col,  options_for_select({"None"=>-1}), :class => 'form-control  chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Product Title</label>
                  <%= select_tag(:vendor_product_title_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Min Price</label>
                  <%= select_tag(:min_price_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
                <div class="col-lg-2  col-md-4 col-sm-6 form-group" style="padding-right:30px">
                  <label>Max Price</label>
                  <%= select_tag(:max_price_col, options_for_select({"None"=>-1}), :class => 'form-control chosen-select csvheader') %>
                </div>
              </div>
              <!-- End Vendor -->
              <br>
              <button type="submit" class="btn btn-sm btn-primary">Upload</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          PO
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datatable_po_list" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th >Vendor</th>
                      <th >SKU</th>
                      <th >Quantity</th>
                      <th>Cost</th>
                      <th >Profit</th>
                     </tr>
                     <tr id="filterrow">
                      <th >Vendor</th>
                      <th >SKU</th>
                      <th >Quantity</th>
                      <th>Cost</th>
                      <th >Profit</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading col-lg-12">
        <div class="panel-title col-lg-5">
          Pending
        </div>
      </div>
      <div class="panel-body">
        <div class="row pv-lg">
          <div class="col-lg-12">
            <div class="table-responsive">
                <table id="datable_pending_po_list" class="display " style="width: 100%">
                  <thead>
                     <tr>
                      <th >Vendor</th>
                      <th >PO Name</th>
                      <th >Date</th>
                      <th >SKU</th>
                      <th>Quantity</th>
                      <th >Cost</th>
                      <th>Status</th>
                     </tr>
                     <tr id="filterrow">
                      <th >Vendor</th>
                      <th >PO Name</th>
                      <th >Date</th>
                      <th >SKU</th>
                      <th>Quantity</th>
                      <th >Cost</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <tfoot>
                    
                  </tfoot>
               </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end content inner -->
</div><!-- end content -->
<%= render partial: "layouts/partials/multifilter" %>
 
<%= javascript_tag do %>
  window.vendor_id = "<%= @vendor_id %>";
<% end %>