<div id="dlg_set_filter_SalesRank" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade multiple-filter-dlg">
    <div class="modal-dialog modal-sm">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">&times;</span>
             </button>
             <h4 id="myModalLabelSmall" class="modal-title">Number Filter</h4>
          </div>
          <div class="modal-body" style="padding: 20px;">
            <div class='element_SalesRank' id='div_SalesRank_1'>
              <select name="slt_expression_SalesRank_1" id="slt_expression_SalesRank_1">
                <option value="eq">=</option>
                <option value="lg">></option>
                <option value="el">>=</option>
                <option value="ls"><</option>
                <option value="es"><=</option>
              </select>
              <input type="number" name="txt_comparevalue_SalesRank_1" id="txt_comparevalue_SalesRank_1">
              <a class="btn btn-primary btn-sm editable-submit add-skill" data-column="SalesRank"><i class="fa fa-fw fa-plus "></i></a>
            </div>
          </div>
          <div class="modal-footer">
             <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
             <button type="button" class="btn-filter-reset" data-dismiss="modal" data-column="SalesRank" class="btn btn-standard" >Reset</button>
             <button type="button" class="btn-filter-set" data-dismiss="modal" data-column="SalesRank" class="btn btn-primary" >Filter</button>
          </div>
       </div>
    </div>
 </div>
 
 <div id="dlg_set_filter_EST" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade multiple-filter-dlg">
    <div class="modal-dialog modal-sm">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">&times;</span>
             </button>
             <h4 id="myModalLabelSmall" class="modal-title">Number Filter</h4>
          </div>
          <div class="modal-body" style="padding: 20px;">
            <div class='element_EST' id='div_EST_1'>
              <select name="slt_expression_EST_1" id="slt_expression_EST_1">
                <option value="eq">=</option>
                <option value="lg">></option>
                <option value="el">>=</option>
                <option value="ls"><</option>
                <option value="es"><=</option>
              </select>
              <input type="number" name="txt_comparevalue_EST_1" id="txt_comparevalue_EST_1">
              <a class="btn btn-primary btn-sm editable-submit add-skill" data-column="EST"><i class="fa fa-fw fa-plus "></i></a>
            </div>
          </div>
          <div class="modal-footer">

             <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
             <button type="button" class="btn-filter-reset" data-dismiss="modal" class="btn btn-standard" >Reset</button>
             <button type="button" class="btn-filter-set" data-dismiss="modal" data-column="EST" class="btn btn-primary" >Filter</button>
          </div>
       </div>
    </div>
 </div>

 <div id="dlg_set_filter_Profit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade multiple-filter-dlg">
    <div class="modal-dialog modal-sm">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">&times;</span>
             </button>
             <h4 id="myModalLabelSmall" class="modal-title">Number Filter</h4>
          </div>
          <div class="modal-body" style="padding: 20px;">
            <div class='element_Profit' id='div_Profit_1'>
              <select name="slt_expression_Profit_1" id="slt_expression_Profit_1">
                <option value="eq">=</option>
                <option value="lg">></option>
                <option value="el">>=</option>
                <option value="ls"><</option>
                <option value="es"><=</option>
              </select>
              <input type="number" name="txt_comparevalue_Profit_1" id="txt_comparevalue_Profit_1">
              <a class="btn btn-primary btn-sm editable-submit add-skill" data-column="Profit"><i class="fa fa-fw fa-plus "></i></a>
            </div>
          </div>
          <div class="modal-footer">

             <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
             <button type="button" class="btn-filter-reset" data-dismiss="modal" data-column="Profit" class="btn btn-standard" >Reset</button>
             <button type="button" class="btn-filter-set" data-dismiss="modal" data-column="Profit" class="btn btn-primary" >Filter</button>
          </div>
       </div>
    </div>
 </div>

<div id="dlg_set_filter_Margin" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade multiple-filter-dlg">
    <div class="modal-dialog modal-sm">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                <span aria-hidden="true">&times;</span>
             </button>
             <h4 id="myModalLabelSmall" class="modal-title">Number Filter</h4>
          </div>
          <div class="modal-body" style="padding: 20px;">
            <div class='element_Margin' id='div_Margin_1'>
              <select name="slt_expression_Margin_1" id="slt_expression_Margin_1">
                <option value="eq">=</option>
                <option value="lg">></option>
                <option value="el">>=</option>
                <option value="ls"><</option>
                <option value="es"><=</option>
              </select>
              <input type="number" name="txt_comparevalue_Margin_1" id="txt_comparevalue_Margin_1">
              <a class="btn btn-primary btn-sm editable-submit add-skill" data-column="Margin"><i class="fa fa-fw fa-plus "></i></a>
            </div>
          </div>
          <div class="modal-footer">

             <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
             <button type="button" class="btn-filter-reset" data-dismiss="modal" data-column="Margin" class="btn btn-standard" >Reset</button>
             <button type="button" class="btn-filter-set" data-dismiss="modal" data-column="Margin" class="btn btn-primary" >Filter</button>
          </div>
       </div>
    </div>
 </div>