<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <div class="user-block-info">
                     <span class="user-block-name"><%= current_user.email %></span>
                     <span class="user-block-role"><%= current_user.role.name %> </span>
                  </div>
               </div>
            </div>
         </li>
            <li class="<%= 'active ' if controller?('vendors')%>">
                <a href="#vendors" title="Layouts" data-toggle="collapse">
                    <em class="fa fa-globe"></em>
                    <span>Vendor</span>
                </a>
                <ul id="vendors" class="nav sidebar-subnav collapse">
                    <li class="<%= 'active' if controller?('vendors') && action?('index') %>">
                        <%= link_to 'Vendor List', vendors_path %>
                    </li>
                </ul>
            </li>

            <% if current_user.is_warehouse %>
               <li class="<%= 'active ' if controller?('warehouse_vendors')%>">
                  <%= link_to warehouse_vendors_path do %>
                     <em class="fa fa-tags"></em>
                     <span>Warehouse Vendor</span>
                  <% end %>
               </li>
            <% end %>

         <li class="<%= 'active' if controller?('vendoritems') || controller?('skynets')%>">
            <!--<%= link_to new_skynet_path  do %>
              <em class="fa fa-tags"></em>
              <span>Catalogs</span>
            <% end %> -->
            <a href="#vendoritems" title="Layouts" data-toggle="collapse">
               <em class="fa fa-tags"></em>
               <span>Catalogs</span>
            </a>
            <ul id="vendoritems" class="nav sidebar-subnav collapse">
                <li class="<%= 'active' if controller?('skynets') && action?('new') %>">
                  <%= link_to 'Inventory', new_skynet_path %>
                </li>
                <li class="<%= 'active' if controller?('seller_skus') && action?('index') %>">
                  <%= link_to 'Reorder', seller_skus_path %>
                </li>
            </ul>
         </li>


         <li class="<%= 'active' if controller?('po') || controller?('pending_po_indices') || controller?('pos') %>">
            <a href='#pos' data-toggle="collapse">
               <em class="fa fa-tags"></em>
               <span>Purchase Orders</span>
            </a>
            <ul id="pos" class="nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller?('po') && action?('list') %>">
                  <a href='/po/list' >New PO</a>
               </li>
               <li class="<%= 'active' if controller?('pending_po_indices') && action?('index') %>">
                  <%= link_to 'My Orders', pending_po_indices_path %>
               </li>
               <% if current_user.is_warehouse %>
                  <li class="<%= 'active' if controller?('pending_pos') && action?('index') %>">
                     <%= link_to 'All Orders', pending_pos_path %>
                  </li>
               <% end %>
               
            </ul>
         </li>

         <% if current_user.is_warehouse %>
            <li class="<%= 'active' if controller?('invoices') || controller?('ship_cus_invoices') %>">
               <a href='#invoices' data-toggle="collapse">
                  <em class="fa fa-tags"></em>
                  <span>Invoice</span>
               </a>
               <ul id="invoices" class="nav sidebar-subnav collapse">
                  <li class="<%= 'active' if controller?('invoices')  && action?('index') %>">
                     <%= link_to 'Warehouse', invoices_path %>
                  </li>
                  <li class="<%= 'active' if controller?('ship_cus_invoices')  && action?('index') %>">
                     <%= link_to 'Customer', ship_cus_invoices_path %>
                  </li>
               </ul>
            </li>
         <% end %>
         <li class="<%= 'active' if controller?('outbound_shipments') %>">
            <a href="#outbound_shipments" title="Layouts" data-toggle="collapse">
               <em class="fa fa-tags"></em>
               <span>Inbound</span>
            </a>
            <ul id="outbound_shipments" class="nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller?('outbound_shipments') && action?('index') %>">
                  <%= link_to 'Start', outbound_shipments_path %>
               </li>
               <% if current_user.role != 'Warehouse' %>
                  <li class="<%= 'active' if controller?('outbound_shipments') && action?('bagger_list') %>">
                     <%= link_to 'Bagger', bagger_list_outbound_shipments_path %>
                  </li>
               <% end %>
            </ul>
         </li>

         <li class="<%= 'active' if controller?('transport_plans') && action?('index') %>">
            <a href="#transport_plans" title="Layouts" data-toggle="collapse">
               <em class="fa fa-truck"></em>
               <span>Shipment Transport Plans</span>
            </a>
            <ul id="transport_plans" class="nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller?('transport_plans') && action?('index') %>">
                  <%= link_to 'All Shipments', transport_plans_path %>
               </li>
               <!--
               <li class="<%#= 'active' if controller?('transport_plans') && action?('working') %>">
                  <%#= link_to 'Working', working_transport_plans_path %>
               </li>
                -->
            </ul>
         </li>


         <% if current_user.role != 'Admin' %>
            <!-- <li class="<%= 'active' if controller?('skynets')%>">
               <a href="#skynet" title="Layouts" data-toggle="collapse">
                  <em class="fa fa-database"></em>
                  <span>Skynet</span>
               </a>
               <ul id="skynet" class="nav sidebar-subnav collapse">
                  <li class="<%= 'active' if controller?('skynets') && action?('new') %>">
                    <%= link_to 'New', new_skynet_path %>
                  </li>
                  <!--li class="<%= 'active' if controller?('skynets') && action?('list') %>">
                    <%= link_to 'List', skynets_path %>
                  </li
               </ul>
            </li> -->
         <% end %>

        <li class="<%= 'active' if controller?('companies') || controller?('registrations') %>">
            <a href="#setting" title="Setting" data-toggle="collapse">
               <em class="fa fa-briefcase"></em>
               <span>Setting</span>
            </a>
            <ul class="nave  sidebar-subnav collapse" id="setting">
              <% if current_user.role.name == 'Manager' %>
                <li class="<%= 'active' if controller?('companies')%>">
                  <a href="#company" title="Layouts" data-toggle="collapse">
                     <em class="icon-people"></em>
                     <span>Company Setting</span>
                  </a>
                  <ul id="company" class="nav sidebar-subnav collapse">
                    <li class="<%= 'active' if controller?('companies') && action?('edit') %>" >
                      <%= link_to edit_company_path(current_user.company) do %>
                         <span>Company</span>
                      <% end %>
                    </li>
                    <li class="<%= 'active' if controller?('companies') && action?('show') %>" >
                     <%= link_to company_path(current_user.company) do %>
                       <span>Users</span>
                     <% end %>
                    </li>
                  </ul>
                </li>
              <% elsif current_user.role.name == 'Admin' %>
                <li class="link">
                    <%= link_to companies_path do %>
                      <em class="icon-people"></em>
                      <span>Companies</span>
                    <% end %>
                </li>
              <% end %>
              <li class="<%= 'active' if controller?('users/registrations') %>">
                <%= link_to profile_path do %>
                  <em class="icon-user"></em>
                  <span>Account</span>
                <% end %>
              </li>
            </ul>
        </li>


      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->
