<% unless @user_option.nil? %>
    <div id="user_option" style="display:none">
        <% @user_option.each do |user| %>
            <option value="<%= user.full_name %>"><%= user.full_name %></option>
        <% end %>
    </div>
<% end %>

<% unless @pending_po_status.nil? %>
    <div id="sel_pending_po_status" style="display:none">
        <% @pending_po_status.each do |pp| %>
            <% if pp['value'] == '' %>
                <% next %>
            <% end %>
            <option value="<%= pp['name'] %>"><%= pp['value'] %></option>
        <% end %>
    </div>
<% end %>

<% unless @pending_po_index_status.nil? %>
    <div id="sel_pending_po_index_status" style="display:none">
        <% @pending_po_index_status.each do |pp| %>
            <% if pp['value'] == '' %>
                <% next %>
            <% end %>
            <option value="<%= pp['name'] %>"><%= pp['value'] %></option>
        <% end %>
    </div>
<% end %>

<% unless @user_option.nil? %>
    <div id="user_id_option" style="display:none">
        <% @user_option.each do |user| %>
            <option value="<%= user.id %>"><%= user.full_name %></option>
        <% end %>
    </div>
<% end %>

<% unless @vendor_option.nil? %>
    <div id="vendor_option" style="display:none">
        <% @vendor_option.each do |vendor| %>
            <option value="<%= vendor.name %>"><%= vendor.name %></option>
        <% end %>
    </div>
<% end %>
<% unless @vendor_option.nil? %>
    <div id="vendor_id_option" style="display:none">
        <% @vendor_option.each do |vendor| %>
            <option value="<%= vendor.id %>"><%= vendor.name %></option>
        <% end %>
    </div>
<% end %>

<% unless @po_option.nil? %>
    <div id="po_option" style="display:none">
        <% @po_option.each do |po| %>
            <option value="<%= po.po_name %>"><%= po.po_name %></option>
        <% end %>
    </div>
<% end %>

<% unless @warehouse_vendors.nil? %>
    <div id="warehouse_vendor_option" style="display:none">
        <% @warehouse_vendors.each do |po| %>
            <option value="<%= po.name %>"><%= po.name %></option>
        <% end %>
    </div>
<% end %>