<!DOCTYPE html>
<html lang="en">

  <head>
     <meta charset="utf-8">
     <%= stylesheet_link_tag wicked_pdf_asset_base64("2dlabel") %>
     <style>
        div.alwaysbreak { page-break-before: always; }
        div.nobreak:before { clear:both; }
        div.nobreak { page-break-inside: avoid; }

        .content_page{
           text-align: center;
        }
        .barcode img{
           height: 200px;
           width: 100%;
           margin: 0 auto;
        }
        .barcode{
           padding-left: 2px;
           padding-right: 2px;
        }
        .main-pdf-body {
          padding-left: 20px;
          padding-right: 20px;
        }
     </style>
     <%= csrf_meta_tags %>
  </head>

  <body style="">
     <div class="wrapper">
           <%= yield %>
     </div>
  </body>

</html>
