<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="keywords" content="FBA, Amazon, Sale, Profit">
   <meta property="og:url" content="<%= request.protocol + request.host %>"/>
   <meta property="og:title" content="Amazon FBA Support "/>
   <meta property="og:description"   content="Looking for more FBA inventory? 
   FBA.support can help you filter through mile long distributor lists and follow them on a daily basis giving you real time insight as trends happen. 
   Try out 14 day trial offer today!" />
   <meta property="og:type" content="website"/>
   <meta property="og:image" content="<%= image_path('angle/logo.png') %>"/>

   <title>FBA.support</title>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
   <!-- Global site tag (gtag.js) - Google AdWords: 935748330 -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=AW-935748330"></script>
   
   
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'AW-935748330');
   </script>
   
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <% unless controller?('users') && action?('edit')%>
      <%= stylesheet_link_tag params[:controller] %>
   <% end %>
   
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
   <%= stylesheet_link_tag('wraith/themes/theme-a.css') %>
   <%= csrf_meta_tags %>
   <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
</head>
<body>
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/topnavbar" %>
      </header>
      <!-- sidebar-->
      <aside class="aside">
         <%= render partial: "layouts/partials/sidebar" %>
      </aside>
      <!-- offsidebar-->
      <!-- Main section-->
      <section>
         <!-- Page content-->
         <!-- <p id="notice"><%= notice %></p> -->

         <%= render 'shared/error_messages' %>
         <div class="content-wrapper" style="padding-top:3px;">
            <%= yield %>
            <div id="mybutton">
               <a href="https://calendly.com/fba-steve" target="_blank" class="btn btn-primary btn-lg">Need Help? Book us for a 15 Minute Pep Talk!</a>
            </div>
         </div>
      </section>
      <!-- Page footer-->
      <footer>
         <%= render partial: "layouts/partials/footer" %>
      </footer>
   </div>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js "></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag params[:controller] %>
   
   <%= yield :page_scripts %>
   <%= yield :body_area %>
</body>

</html>