<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="keywords" content="FBA, Amazon, Sale, Profit">
   <meta property="og:title" content="Amazon FBA Support "/>
   <meta property="og:description"   content="Looking for more FBA inventory? 
   FBA.support can help you filter through mile long distributor lists and follow them on a daily basis giving you real time insight as trends happen. 
   Try out 14 day trial offer today!" />
   <meta property="og:type" content="website"/>
   <meta property="og:image" content="<%= image_path('angle/logo.png') %>"/>
   <title>Subscription</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
   <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
   <style>
      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }

      .content_page{
         text-align: center;
      }
      .content_page .title{
         margin: 0 auto;
         font-size: 10px;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         text-overflow: ellipsis;
         height: 80px;
      }
      .barcode img{
         height: 50px;
         width: 100%;
         margin: 0 auto;
      }
      .barcode{
         padding-left: 2px;
         padding-right: 2px;
      }
   </style>
</head>

<body style="height:100%;">
   <div class="wrapper subscription_body">
         <%= yield %>
   </div>
</body>

</html>