<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="keywords" content="FBA, Amazon, Sale, Profit">
   <meta property="og:url" content="<%= request.protocol + request.host %>"/>
   <meta property="og:title" content="Amazon FBA Support "/>
   <meta property="og:description"   content="Looking for more FBA inventory? 
   FBA.support can help you filter through mile long distributor lists and follow them on a daily basis giving you real time insight as trends happen. 
   Try out 14 day trial offer today!" />
   <meta property="og:type" content="website"/>
   <meta property="og:image" content="<%= image_path('angle/logo.png') %>"/>
   <title>SignUp</title>
   <!-- =============== VENDOR STYLES ===============-->
   <%= stylesheet_link_tag 'base' %>
   <!-- =============== VIEW VENDOR STYLES ===============-->
   <%= stylesheet_link_tag params[:controller] %>
   <!-- =============== APP STYLES ===============-->
   <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
   <link rel="stylesheet" media="screen" href="/assets/users/sessions.self.css?body=1" />
   <%= csrf_meta_tags %>
</head>

<body>
   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/usertopbar" %>
         <%= yield %>
      </header>
   </div>
   <%= render partial: "layouts/partials/homefooter" %>
   <!-- =============== VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag 'base' %>
   <!-- =============== VIEW VENDOR SCRIPTS ===============-->
   <%= javascript_include_tag params[:controller] %>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>
</body>

</html>