<div class="row">
   <div class="col-md-8">
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="h4 text-center">Contact Information</div>
            <div class="row pv-lg">
               <div class="col-lg-2"></div>
               <div class="col-lg-8">
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'form-horizontal' }) do |f| %>
                     <%= devise_error_messages! %>
                     <div class="form-group">
                        <%= f.label :first_name , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.text_field :first_name, autofocus: true,:class => 'form-control' %>
                        </div>
                     </div>
                     <div class="form-group">
                        <%= f.label :last_name , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.text_field :last_name,:class => 'form-control' %>
                        </div>
                     </div>
                     <div class="form-group">
                        <%= f.label :email , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.email_field :email,:class => 'form-control' %>
                        </div>
                     </div>
                     <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                     <% end %>
                     <div class="form-group">
                           <%= f.label :password, :class => 'col-sm-2 control-label' %>
                           <div class="col-sm-10">
                              <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                                 <% if @minimum_password_length %>
                                 <br />
                                 <em><%= @minimum_password_length %> characters minimum  <i>(leave blank if you don't want to change it)</i></em>
                              <% end %>
                           </div>
                     </div>
                     <div class="form-group">
                        <%= f.label :"Confirm" , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.password_field :password_confirmation, autofocus: true,:class => 'form-control' %>
                        </div>
                     </div>
                     <div class="form-group">
                           <%= f.label :current_password, :class => 'col-sm-2 control-label' %>
                           <div class="col-sm-10">
                              <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control' %>
                              <i>(we need your current password to confirm your changes)</i>
                           </div>
                     </div>
                     <div class="form-group">
                        <%= f.label :seller_id , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.text_field :seller_id, :class => 'form-control' %>
                        </div>
                     </div>
                     <div class="form-group">
                        <%= f.label :"MWS_TOKEN" , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.text_field :mws_access_token, :class => 'form-control' %>
                        </div>
                     </div>
                      <div class="form-group">
                        <%= f.label :"MARKETPLACE" , :class => 'col-sm-2 control-label'%>
                        <div class="col-sm-10">
                           <%= f.text_field :mws_market_place_id, :class => 'form-control' %>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                           <button type="submit" class="btn btn-info">Update</button>
                        </div>
                     </div>
                  <% end %>
                  <div >
                     <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger pull-right" %></p>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%= link_to "Back", :back %>
