<section class="banner2">
   <div class="container">
    <div class="banner_caption sign_up"><div class="signup_txt"><p>Sign up now to unlock your amazon business potential, no credit card needed!</p></div>
      <div class="sign_in">
        <h2>Sign up to get instant access</h2>        
        <div class="input_bx">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.text_field :first_name, placeholder: "First Name", required: true %>
            <%= f.text_field :last_name, placeholder: "Last Name", required: true %>
            <%= f.email_field :email, placeholder: "Your Email Address", autofocus: true, required: true %>            
            <%= f.fields_for :company do |builder| %>
              <%= builder.text_field :name, placeholder: "Company", required: true %>
            <%end%>          
            <%= f.password_field :password, autocomplete: "off",placeholder: "Password", required: true %>            
            <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirm", required: true %>
            <div class="clear"></div>
            <%= f.submit "Sign UP", :style => "background:#2f4f98;color:#FFFFFF" %>              
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Global site tag (gtag.js) - Google AdWords: 935748330 -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=AW-935748330"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'AW-935748330');
 </script>

<!-- Event snippet for FBA sign up conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-935748330/FBbgCJTolnwQ6sWZvgM'});
</script>